body {
  font-family: sans-serif;
  background-color: #f7e9d7;
  font-family: "Comfortaa", sans-serif;
  font-size: 25px;
}

.navbar-brand {
  color: #f7e9d7;
}

.dropdown {
  color: #f7e9d7;
}

.col-sm-12 {
  padding-top: 270px;
  padding-left: 10px;
  font-family: "Comfortaa", sans-serif;
  font-size: 25px;
  text-shadow: 3px 3px 3px #ababab;
}

.rowone {
  background-color: black;
  font-family: "Comfortaa", sans-serif;
  font-size: 23px;
}

.img {
  float: left;
  padding-left: 20px;
  padding-top: 40px;
  border-radius: 10px 100px / 120px;
}

.intro {
  padding-top: 40px;
  padding-left: 410px;
  padding-right: 40px;
  font-family: "Comfortaa", sans-serif;
  font-size: 25px;
}
