/* Colors: */
/* 
background-color: #FA8D70; (dark coral)
background-color: #FFA197; (light coral)
background-color: #FFBAC4; (light pink)
background-color: #F0D794; (dark coral)

#bdcde0 (periwinkle)
#b7e4c7 (mint)
rgb(242, 223, 215) (champagne gold)
rgb(212, 193, 236) (light purple)
rgb(242, 253, 255) (azure x 11 web color - light light blue)
rgb(154, 212, 214) (powder blue)
*/

/* gradient for: 
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);*/


body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}
 
.col {
  display:grid;
  place-items: center;
  align-content: center; 
}
/*   border: 1px solid green; */


/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* typewriter effect for name */
.intro-typed-container {
  display: inline-block;
}


/* header + navbar */
header {
/*   background-color: #e2eafc; */
  background-color: #FFFFFF;
  border-bottom: 1.5px solid #eaeaea;
  padding: .5em 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}


.navbar-brand {
  padding-left: 1em;
  margin: 0;
}

.n-logo {
  height: 2em;
  margin: -2em 0;
}
.navbar-nav {
/*   border: 2px solid green; */
  padding: .5em 2em .5em 2em;
}

.my-toggler {
  border: none;
  color: transparent;
}

.navbar-collapse {
/*   border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea; */
/*   border-bottom: 1px solid #eaeaea; */
}

.navbar-collapse ul {
  margin-top: 1em;
}

/* navbar items: 'about me, experience, skills, contact' */
.nav-link {
  color: rgb(168,168,168);
  text-transform: uppercase;
	text-decoration: none;
	font-size: 1.2rem;
	text-transform: uppercase;
/* 	opacity: 0; */
	transition: opacity 150ms ease-in-out;
}

.nav-link:hover{
	color: grey;
/* 	color: rgb(255,158,158); */
}


/* HERO/LANDING section */
.landing-section {
  margin: 3em 3em;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-text {
  padding: 0 2em;
  font-family: "Lora", serif;
}

.intro-text p {
  font-family: 'Poppins', serif;
}

/* this is for the "connect w/ me" section of the landing */
.intro-buttons {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
/*   background-color: rgb(225,213,198); */
  padding: .5em 1.5em 0 1em;
  margin: 1em;
  padding: 0;

}

.intro-buttons-text {
  font-style: italic;
}

.intro-icons {
  padding: 0 1em;
}

.intro-buttons img {
  height: 2em;
  margin: 0 .5em 0 0em;
}

.profile-image {
  max-height: 15em;
  margin: 0;
  margin-bottom: 2em;
}






/* MY CONTENT */

/* sections */
.section-title {
  text-align: center;
}

.card-container {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0 1em;
  padding-bottom: 1em;
  background-color: white;
}

.card-text ul {
  text-align: left;
}

.experience-card {
  margin: 1em 2em;
}

/*  Section: Experience  */

.experience {
  background-color: #e2eafc; 
  box-shadow: inset 0 0 10px #ccdbfd;
  border-bottom: 5px solid #b9e4ff;
  padding: 4em 0;  
  
}

.experience-details-btn {
  margin: 1em;
}

.experience-card img {
  max-height: 10em;
  text-align: center;
  margin: 1em;
}

.experience-card > .card-text > h4{
  margin-top: 1em;
}

.ofa {
  font-size: 1em;
  position: relative;
  top: 1em;
  margin: 0;
}

.CSI {
  position: relative;
  top: -.25em;
}

#dm-logo-pic {
  position: relative;
  top: 1em;
/*   margin-bottom: -.25em; */
}

#MB-logo-pic {
  padding: .5em 0;
}

#ofa-logo-pic {
/* border: 2px solid red; */
  max-width: 70%;
  margin: 0;
  margin-top: 2.5em;
}

#google-logo-pic {
  max-width: 70%;
  margin-bottom: 0em;
}


/*  Section: Skills  */
.skills {
  padding: 4em;
  position: relative;
}

.skills::before {
  content: '';
  background-image: url("https://cdn.glitch.global/3b762ec6-2759-4ac3-b5e7-df58f114ca3b/wave%20(1).svg?v=1657311116002");
  background-repeat: no-repeat;
/*   background-size: cover; */
      position: absolute;
 top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.75;
}

.card-text h4 {
  color: black;
}

.card-text h5 {
  color: rgb(104,104,104);
  font-weight: 300;
}


.skills-card {
/*   margin: 2em 0; */
  padding: 2.5em 0 2em 0;
  border-bottom: 1px solid grey;
}


.skills-card img {
/*   border: 2px solid green; */
  max-height: 20vh;
  text-align: center; 
  margin-bottom: 2em;
}


/*  Section: Projects  */
.projects {
  background-color: #f9bec7; 
  box-shadow: inset 0 0 10px #fbb1bd;
  padding: 4em;
  padding-top: 60px;
  padding-bottom: 55px;
}

.projectcard {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 15px;
  margin-top: 15px;
}

.card-img-top{
  width:92%;
}

.card-title{
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}


/*  Section: Contact  */
.contact {
padding: 4em;
}



@media only screen and (min-width: 768px) {
  .header {
    margin: 0;
  }
  .landing-section {
  margin: 8em 3em;
}
  
  .col-experience-sect {
    padding: 0;
      background-color: white;
    margin: 2em .5em;
border-radius: 10px;
  }
  
  .card-container {
    border: none;
    padding: 0;
  }
}

@media only screen and (min-width: 1000px) {
 .card-container {
  border: 2px solid rgba(0, 0, 0, 0.01);
  border-radius: 5px;
  padding: 0 0em;
/*   padding-bottom: 1em; */
  background-color: transparent;
}
  .experience-card {
/*     width: 30vw;
    height: 80vh;
    align-content: center; */
    
    
  }

  #MB-logo-pic {
  padding: 0;
}
  .col-experience-sect {
    padding: 0;
      background-color: white;
    margin: 2em .5em;
border-radius: 10px;
  }
   .skills {
  padding-top: 8em;
}
}

/* for desktop view, 

.skills {
  padding-top: 8em;
}

*/


.typing-demo {
  width: 100%;
  animation: typing 2.5s steps(22), blink .6s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: 'Lora', serif;
  font-weight: 900;
  font-size: 1.5em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}