/* Base styles for .container */
:root {
  --background-color:#cdd3ce;
  --font-color:#272D2D;
  --link-color:#FE7F2D;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  
  
}

.container {
  max-width:1200px;
  background-color: var(--background-color);
  color: var(--font-color);
  margin:0 auto;
  padding:1rem;
}

.nav {
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:2rem 0;
  margin:2rem 0;
}
.nav ul {
  display:flex;
  align-items:center;
}

.nav ul li {
  margin-right:3rem;
  list-style-type:none;
  
}
.nav ul li a{
  color:var(--link-color);
  text-decoration:none;

}
/* Common styles for body and .container */

/* Text styles */


/* Image styles */
img {
  max-width: 100%;
  height:700px;
  border-radius:1rem;
}




/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {
/* Styles */
  body{
    font-size:16px;
  }
  .nav {
    justify-content:flex-start;
  }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 481px) {
/* Styles */
  body {font-size:20px;}
}
main {
  display:grid;
  place-items:center;
}
h1{
  font-size:3rem;
  margin-top:10rem;
}

span{
  font-weight:600;
  font-size:2rem
}

li{
  font-weight:500;
}

p{
  max-width:60ch;
  text-align:center;
  line-height: 1.5;
}
.image-with-shadow {
  box-shadow:50px 100px var(--link-color), -1em -15px .5em black; /* Adjust values as needed */
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    right: 63%;
  }
  100% {
    right: -63%;
  }
}

.marquee p {
  display: inline-block;
  padding: 0 20px;
}
.flip-container {
  perspective: 1000px;
}

.flip-card {
  width: 350px;
  height: 700px;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.flip-card:hover {
  transform: rotateY(10deg);
}

.flip-card-inner {
  width: 350px;
  height: 700px;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}







