@media screen and (max-width: 600px) {
  .c-navbar {
    height: 10%;
    justify-content: center;
  }
  .button {
    align-content: center;
  }
  
  .about-me {
    top: 10%;
    flex-direction: column-reverse;
    height: 85vh;
    width: 100%;
    justify-content: flex-start;
  }
  .about-me-content {
    align-content: start;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .profile-image-box {
    justify-content: center;
    align-items: end;

    flex-grow: 1;
    flex-shrink: 2;
  }
  .profile-image {
    max-height: 50vw;
    max-width: 50vw;
    
    border-radius: 15%;
  }
  .project-card {
/*     display: flex;
    flex-direction: column-reverse; */
    padding: 1rem;
    margin-bottom: 1em;
  }
  .projects {
    padding: 3rem;
  }
  .skills {
    padding: 3rem;
  }
  .skill-display {
    padding: 1rem;
  }
  
  .contact {
    padding: 3rem;
  }
  .text-h-lg {
    font-size: 25px;
  }
  .text-h-md {
    font-size: 20px;
  }
  .text-h-sm {
    font-size: 15px;
  }
  .text-p {
    font-size: 10px;
  }
  .text-sub {
    font-size: 7px;
  }
  
}

@media screen and (min-width: 601px) {
  .about-me {
    flex-direction: row;
    height: 100vh;
    width: 100%;
    padding-top: 10vh;
  }
  
  .about-me-content {
    height: 100%;
    max-width: 40%;
    margin-left: 15%;
    margin-right: 5%;
  }
  
  .profile-image-box {
    justify-content: center;
    align-items: center;

    flex-grow: 1;
    flex-shrink: 2;
    margin-right: 2%;
  }
  
  .skill-display {
    padding-left: 10%;
    padding-right: 10%;
  }
  .skills {
    padding: 5rem;
  }
  .projects {
    padding: 5rem;
  }
  .project-card {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5em;
  }
  .contact {
    padding: 5rem;
  }
  .text-h-lg {
    font-size: calc(3.5vw + 15px);
  }
  .text-h-md {
    font-size: calc(2.15vw + 15px);
  }
  .text-h-sm {
    font-size: calc(1vw + 15px);
  }
  .text-p {
    font-size: calc(0.75vw + 15px);
  }
  .text-sub {
    font-size: calc(0.50vw + 15px);
  }

  .profile-image {
      max-height: 65vh;
      max-width: 40vw;
  }
}