.container {
  background-color: #f0f0f0;
}

#navnav {
  background-color: #27296d;
}

h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: "Open Sans Condensed", sans-serif;
}
h3 {
  color: rgb(88, 207, 171);
  font-family: "Open Sans Condensed", sans-serif;
}
h2 {
  font-family: "Open Sans Condensed", sans-serif;
  color: rgb(88, 207, 171);
}
.col {
  float: left;
  width: 25%;
}

.row2:after {
  content: "";
  display: table;
  clear: both;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
p {
  font-family: "Piazzolla", serif;
  color: #00416d;
}
.fun {
  color: rgb(88, 207, 171);
}
a,
href {
  color: rgb(88, 207, 171);
}
.jobTitles {
  color: black;
  font-weight: bold;
}
.tab {
  padding-left: 55%;
}
li {
  font-family: "Open Sans Condensed", sans-serif;
  font-family: "Piazzolla", serif;
  color: #00416d;
}
.certificate {
  width: 50%;
  display: space-evenly;
  margin-left: 10em;
  padding-top:1em;
}
.devLogo {
  margin-left: 8em;
}
.headshot {
  display: block;
  width: 40%;
  text-align: center;
  margin-left: ;
}
.gapLogo {
  width: 50%;
  display: space-evenly;
  margin-left: 10em;
  padding-top:1em;
  height: 30%;
}