nav {
  margin: 10px;
}

.bg {
  padding: 10px;
  height: 20%;
}

h5 {
  border-bottom: 3px solid black;
  padding-top: 10px;
}

.row {
  margin: 30px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.bigRow {
  padding: 20px;
  margin: 0px;
}

.focus {
  transition: transform 300ms;
}

.focus:hover {
  transform: translateY(-5px);
}
