/* a minimalist set of CSS resets */

/* default to border-box */
h1 {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
}
.quote{
  text-align:center;
  font-family: 'Dosis', sans-serif;

}
/* #carouselExampleIndicators {
  height: 650px; 
  width: 1000px;
  margin-left: 15%;
} */
#carousel {
  display: block;
  margin: 0 auto;  
  border-radius: 50%;
  text-align: center;
}

.carousel-item {
  height: 75vh;
}


#legal-container {
  font-family: 'Lato', sans-serif;
}
body{
/*   background-color: #57A0D3; */
  background-color: #B8DEB4;

}
.foodimg, .legalimg, .undocuimg, .sheltersimg{
  width: 30%;
}
.card{
  text-align: center;
  min-height: 300px;
}
.btn, .btn-secondary{
/*   background-color: #57A0D3; */
  background-color: #7FC377;
}

.cardlogo {
  width: 35%;
}
.aboutmetext{
  text-align: center;
  font-size:30px;
  padding-left: 10%;
  padding-right:10%;
  font-family: 'Poltawski Nowy', serif;
}
.contacttext{
  text-align: center;
  font-size:30px;
  padding-left: 10%;
  padding-right:10%;
  font-family: 'Poltawski Nowy', serif;
}



        /* Styling the Body element i.e. Color,
        Font, Alignment */
       
 
        /* Styling the Form (Color, Padding, Shadow) */
        form {
            background-color: #ffffff;
            max-width: 1000px;
            margin: 50px auto;
            padding: 30px 20px;
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
            text-align: left;
        }
 
        /* Styling form-control Class */
        .form-control {
            text-align: center;
            margin-bottom: 25px;
        }
 
        /* Styling form-control Label */
        .form-control label {
            display: block;
            margin-bottom: 10px;
        }
 
        /* Styling form-control input,
        select, textarea */
        .form-control input,
        .form-control select,
        .form-control textarea {
            border: 1px solid #777777;
            border-radius: 2px;
            font-family: inherit;
            padding: 10px;
            display: block;
            width: 95%;
        }
 
        /* Styling form-control Radio
        button and Checkbox */
        .form-control input[type="radio"],
        .form-control input[type="checkbox"] {
            display: inline-block;
            width: auto;
        }
 
        /* Styling Button */
        button {
            background-color: #7FC377;
            border: 1px solid #77777777;
            border-radius: 2px;
            font-family: inherit;
            font-size: 21px;
            display: block;
            width: 10%;
            margin: 50px auto 20px auto;
        }
#suggestionurl{
  font-size:smaller;
}
.textbox{
  width:100%;
}
textarea:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
footer{
  text-align:center;
}
.navbar {
  display: flex;
  align-items: center;
}



/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}
*/
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #30694B;
}
.active {
  background-color: #30694B;
}

.logo {
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  display: flex;
}

li {
  margin-right: 0px;
  float: left;
}

/*
li:first-child {
  margin-left: 10px;
}

li:last-child {
  margin-right: 0;
}
*/