/* a minimalist set of CSS resets */
/*I think I should make a class for the flex box w-100 because I overused it here for like every section of the page. Maybe I could name it "page-section"*/
/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
  /*https://stackoverflow.com/questions/64729228/how-to-create-a-button-link-in-html-which-will-take-you-to-a-different-section-o*/
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  /**margin: 1rem;**/
  font-family: sans-serif;
  line-height: 1.5;
  min-height: 100vh; /** sets body to 100vh in height which will help keep footer at botoom**/
  /* overflow: hidden;  Hide scrollbars but apprently it also disabled scrolling */
  overflow-x: hidden; /* Hides scrollbar on x-axis because it shows up when page is loading*/
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

a {
  font-size: 1.3em;
  text-decoration: none;
}

h2 {
  font-size: 3em;
  font-family: 'Roboto Mono', monospace;
}

h3 {
  font-family: 'Roboto Mono', monospace;
}

p {
  font-size: 1.2em;
  font-family: 'Roboto Mono', monospace;
}

li {
  list-style: none;
}

.parallax {
  /* The image used */
  background-image: url("https://cdn.glitch.global/35299579-daa6-4d50-b417-985ee9a54314/full-dog.png?v=1657097951908");

  /* Set a specific height */
  min-height: 60vw;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#welome-text {
  font-family: 'Roboto Mono', monospace !important;
  width:100%;
  font-size: 4em;
  margin-left: 3em;
}

#hobby {
  height: 25%;
  width: 100%;
  background-color:gray;
  flex-direction: comlumn;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#hobby-image {
  height: auto;
  width: 100%;
}

#about-me {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #AEDBCE;
  /**I preffer if items are aligned but the text one also works well.
  Flex box help:
  https://www.sitepoint.com/community/t/justify-content-center-align-items-flex-start-isnt-working/325107/4**/
  /**text-align: center;**/
  /**align-items: center**/
}

.sticky {
  position: fixed;
}

.logos {
  width: 3vw;
  height: auto;
  margin: 1em;
}

#logo-list {
  /*Aligns the logos to the center*/
  margin-left: -3em;
  display: flex;
  flex-direction: row;
}

#about-me-info {
  height: 50%;
  width: 100%;
  background-color: #D3EBCD;
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 1.3em;
  border-color: #D3EBCD;
}


#about-me-paragraph {
  margin-top: 3vw;
  margin-left: 2vw;
  /**margin: 5vw;
  margin-top: 10vw;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 10vw; **/
} 

#about-me-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  
  width: 50%;
  /**margin: 5vw;**/
  margin-top: 6vw;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 10vw;
}

#about-me-content {
  align-items: center !important;
  justify-content: center !important;
  display: flex;
  flex-direction: row;
  /*align-items: center;*/
}

#portrait {
  align-self: center;
  width: 35%;
    /*35%;*/
  height: auto;
  margin: 5vw;
  
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


  height: 5vw;
  width: 100%;
  background-color: #839AA8;
  color: black !important;
}


.nav-item {
  /*font-family: Lato !important; */
  font-family: 'Roboto Mono', monospace;
  color: Black !important;
  font-size: 1.7em;
  margin-left: 1em;
  margin-right: .5em;
}

#projects {
  display: flex;
  flex-direction: column;
  background-color: #839AA8;
  width: 100%;
  height: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#projects-carousel {
  width: 50% !important;
  height: auto !important;
}

/*https://stackoverflow.com/questions/17357306/bootstrap-carousel-resizing-image
.w-100 {
  width: 100% !important;
  height: 30vh;
}*/

/*.projects-image {

}
*/

/*
#nav-bar {
  height: 15%;
  width: 100%;
  background-color: #839AA8;
  color: black !important;
}

.nav-link {
  color: black !important;
} */

#achievements {
  width: 100%;
  height: auto;
  background-color: #D3EBCD;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3em;
}

.achievement {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.achievement-descriptor {
  width: 45%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #839AA8;
  font-family: 'Roboto Mono', monospace;
  border: solid 1.2em #839AA8;
}

.achievement-img {
  
  
  width: 20em;
  height: auto;
  margin-left: 10em;
  margin-right: 5em;
  /*margin-left: -3em;*/
  
}
/*
#achievement-content {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
}

#column-imgs {
  width: 50%;
  height: auto;
  display:flex;
  flex-direction: column;
  justify-content: start;
}


#column-descs {
  should be put as a class for individual paragraphs background-color: #839AA8;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
}


.achievement-img {
  
  
  width: 30em;
  height: auto;
  margin: 0em;
  border: 0em;
  
}

.achievement-desc {
  background: #839AA8;
}

.achievement-title {
  background: #839AA8;
}*/

#footer {
  width: 100%;
  height: auto;
  flex-direction: column;
  background-color: #635666;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}

.other-contact-info {
  padding-top: 2em;
  flex-direction: column;
  width: 100%;
  height: auto;
  color: #c8cbc8;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: -1.5em;
}

#footer-title {
  margin-top: 2em;
  margin-bottom: -1em;
  color: #c8cbc8;
  text-align: center;
}

.contact-logo {
  width: 4em;
  height: auto;
}

/*https://stackoverflow.com/questions/36765585/image-overlap-two-divs-vertically*/
.bottom-logo {
  /*height: auto;
  width: 10em;*/
  position:absolute;
  width: 10em;
  height: auto;
  top:-4.3em;
  
}

/*.footer-bottom-right {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
} */

.overlooking-dog {
  position:relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  align-items: end;
  position: relative;
  
}

.skill {
  list-style-type: circle !important;
  
}
.carousel-text {
  color: #27432e;
  font-weight: bold;
    /*#0088ff;*/
  
  
}

#dev-projects {
  width: 20%;
  height: auto;
  margin: 1.2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  
  
  
}

.btn {
  background-color: #AEDBCE;
  border-color: #AEDBCE;
  color: black;
  
}