/* a minimalist set of CSS resets */

/*default to border-box 
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

adjust typography defaults 
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width 
img, */
.navbar-brand{
  margin-left: 1%;
}


.home {
  background-color: rgb(244, 190, 181);
}
.projects {
  background-color: rgb(237, 220, 250);
}

.second {
  display: flex;
  background-color: rgb(237, 220, 250);
}

.bi {
  color: red;
}

.card-body {
  background-color: white;

}
.card-title, .card-text {
  margin-top: 3%;
  padding: 1%;

}

iframe {
  width: 100%;
  height: 600px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.resume {
  margin-top: 5%;
  margin-bottom: 5%;
}

.end{
  background-color: rgb(106, 139, 249);
}
.fun {
  display: flex;
  background-color: rgb(249, 244, 109);
}


.contact{
  background-color: rgb(183, 241, 199);
}

h2 {
  font-family: 'Fjalla One', sans-serif;
}

