/*this works with upper tab*/
body {
  background-image: url(https://cdn.glitch.global/1b5fe186-5958-4744-8da3-a30f17561f57/backy.gif?v=1710217112612);
  background-size: cover;
  font-family: "Ramaraja", serif;
  color: white;
}
* {
  box-sizing: border-box;
}
.align-middle-custom {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  height: 100%;
}

.row.equal-height {
  display: flex;
  flex-wrap: wrap;
}

.row.equal-height > .col-4,
.row.equal-height > .col-8 {
  display: flex;
  flex-direction: column;
}

.col-4 img {
  height: 450px;
  width: 450px; 
  height: auto; 
}
.change{
  font-size: 30px;
}
p h1 {
  color: white;
}
.tab {
  overflow: hidden;
  width: 100%;
  background-color: #242582;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  float: Right;
}
.pagetitle {
  display: block;
  /*padding:10px 20px;*/
  color: white;
  margin-left: 20px;
  font-size: 30px;
  text-align: center;
}
.skills-div{
      display: flex;
     flex-wrap: wrap;
     padding: 30px;
 }

.skills__skill{
  padding: 16px 32px;
  margin-bottom:2px;
  margin-right:24px;
  font-size: 15px;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 70px;
  font-weight: 600;
  color: #967BB6
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  display: inline-block;
}

ul li a {
  display: block;
  padding: 10px 20px;
  color: white;
  font-size: 20px;
}

nav ul li + li {
  margin-left: 8px; 
}
ul li :hover {
  color: yellow;
}
ul li :active {
  color: yellow;
}
fieldset {
      margin-bottom: 20px;
    }