@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap');

/* sliding nav bar*/
html {
    scroll-behavior: smooth;
}

/* global styling */
* {
    font-family: 'Roboto Condensed', Arial, sans-serif; /* Apply font to all elements */
    font-size: 20px; /* Set font size for all elements */
    color: grey; /* Set font color for all elements */
}

/* spacing and background color*/
.container-fluid {
    background-color: #2986cc;
    padding-left: 10% !important;
    padding-right: 10% !important;
}

.col {
    background-color: white;
}

img {
    border: 4px solid black;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(17, 17, 17, 0.2);
}

#experiences {
    background-color: whitesmoke;
}

/* 4 pictures sizing */
.pictureone img,
.picturetwo img,
.picturethree img,
.picturefour img {
    width: 300px; /* Adjust image size */
    height: 200px; /* Adjust image size */
}

.col.main {
    background-color: white;
    box-shadow: 0 0 50px rgba(17, 17, 17, 0.5);
}

.row.section {
    padding: 5%;
}

.navbar {
    box-shadow: 0px 4px 8px rgba(17, 17, 17, 0.2);
}

.navbar-brand {
    font-weight: bold;
    padding-left: 12%;
}

#home {
    padding: 20%;
    background-image: url("media/pavement.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.bigtext {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    text-shadow: 0 2px 8px rgba(17, 17, 17, 0.6);
}

#contact {
    background-image: radial-gradient(#404040, #202020);
}
