/* a minimalist set of CSS resets */
/* colours: https://colorhunt.co/palette/f5efe6e8dfcaaebdca7895b2*/
/* specifically: F5EFE6 E8DFCA AEBDCA 7895B2*/

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  /*   margin: 1rem; */
  color: #7895B2;
  font-size: 1.3em;
  font-family: 'Inter Tight', sans-serif;
  line-height: 1.5;
  background-color: #F5EFE6;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

#container {
  display: flex; /* establish flex container */
  flex-direction: column; /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center; /* center items horizontally, in this case */
  height: 700px;
}

.box {
  width: 700px;
  margin: 5px;
  text-align: center; /* will center text in <p>, which is not a flex item */
}

#important {
  font-weight: bold;
}

