

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: 'Josefin Slab', serif;
  line-height: 1.5;
  background-image: linear-gradient(to bottom right, teal, pink, orange);
  color: white;
}

/* images and videos max out at full width */
#profile-pic {
  background-color: white;
  max-width: 50%;
  height: auto;
  padding: 20px;
  border-radius: 25px;
}
.top-nav {
  overflow: hidden;
}

.top-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  font-size: 17px;
}

.top-nav a:hover {
  background-color: white;
  color: black;
}

.last-header a:hover {
  background-color: white;
  color: black;
}

a {
  color: white;
}

.card a:hover {
  background-color: white;
  color: black;
}

.container {
  display: flex;
  justify-content: center;
}

.animate__jackInTheBox {
  margin-left: 4em;
}

.text {
  background-color: white;
  padding-top: 80px;
  border: 10px solid white;
  padding-left: 10px;
  margin-right: 3em;
  font-size: 20px;
  color: black;
  border-radius: 25px;
}

h2 {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
}

.poem, .card-img-top {
  max-width: 18em;
  height: auto;
  text-align: center;
  border-radius: 25px;
}

.card-img-top-2 {
  width: 18em;
  height: 140px;
  border-radius: 20px;
}

.card-img-top-2a {
  max-width: 18em;
  height: 140px;
  border-radius: 20px;
}

.card {
  background-color: black;
  display: inline-block;
  margin: 2em;
  border-radius: 25px;
}

span {
  text-shadow: 0 -2.5px pink;
  display: inline-block;
  animation: bounce;
  animation-duration: 2s;
}

h1 {
  color: black;
}

.skill {
  display: inline;
  background-color: orange;
  
}
#html {
  max-width: 5%;
  height: auto;
}

#css {
  max-width: 8%;
  height: auto;
}

#bootstrap {
  max-width: 7%;
  height: auto;
}

#figma {
  max-width: 3.5%;
  height: auto;
}

.last-header h2 {
  text-decoration: none;
}

