html {
  background: #630b3a;
}
head {
  background: #fffaf0;
  background-color: #343a40;
}

title {
  color: #8b0000;
  background-color: #343a40;
}
body {
  background-color: #343a40;
}
h1,
.navbar-brand {
  background-color: #343a40;
}
/* Button - Add it from the README instructions */
button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}

.tables {
  height: 100%;
}

.carousel-item,
.covers,
.carousel-inner {
  width: 25rem;
  height: 25rem;
  background-color: #343a40;
}
.mt-4 {
  margin-top: 15rem !important;
  background-color: #343a40;
}
.fs-4 {
  font-size: 2rem !important;
}
.navbar fixed-top shadow-sm {
  color: white;
  background-color: #343a40;
}
div.gallery {
  margin: 5px;
  border: 1px solid #cccccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777777;
}

div.gallery img {
  width: 100%;
  height: 75%;
}
.top {
  margin-bottom: 0em;
  background-color: #343a40;
}
/* detailed view page */
.detail {
  margin-left: 30%;
  margin-right: 30%;
  background-color: #343a40;
}
/* image sizing in detailed view */
.pink {
  width: 35rem;
  height: 35rem;
  background-color: #343a40;
}
/* fonts */
.pt-sans-narrow-regular {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: large;
}

.pt-sans-narrow-bold {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
}
