.h1c { /* This is the SANDY at the top of the screen */
  margin: auto;
  width: 3.5%;
  
}

h2 {
  /*align-content: center;*/
  margin-top: 5em; /*This is the updown for the words inside the box*/
  color: white;
  font-family: 'Oswald', sans-serif;
}

.flex-box {
  display: flex;
  justify-content: center;
}

.row {
  height: 25REM; /*This is the space between the last box and the edge of the website orig:25*/
}

.col {
  display: flex;
/*   border: solid; */
  position: relative;
  justify-content: center;
  background-position: center;
  margin: -1px auto;/* This will decrease the lines in the middle, make it less bold. Seperates when the numbers are larger */
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 85%;
  /*width: 50vm;*/
}

.container-fluid {
  width: 70vw; /*This is the left and right, determines the space between the edge of the website and the boxes*/
}

.icons {
  float: left;
  width: 33.33%;
  max-width: 200px;
  max-height: 200px;
  padding: 25px;
}

.icon-pa {
/*   background-color: gray;  */
  position: absolute;
  top: 250px;
  height: 100px;
  z-index: 1;
  content: "";
  clear: both;
  display: table;
}

.icon-va {
/*   background-color: red; */
/*   background-color: #ffe66d;  */
  position: absolute;
  top: 250px;
  height: 100px;
  z-index: 1;
  content: "";
  clear: both;
  display: table;
}

.square {
/*   width: 100px;
  height: 100px; */
  max-width: 80%;
}

.nolines {
  text-decoration: none;
}

.piano {
  max-width: 140%;
  top: 650px;
}

