/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/

/* 
  The style rules specify elements by type and by attributes such as class and ID
  Each section indicates an element or elements, then lists the style properties to apply
  See if you can cross-reference the rules in this file with the elements in index.html
*/

/* Our default values set as CSS variables */
:root {
  --color-bg: #121e41;
  --hover-color: #0c1222;
}

body {
  font-family: "Afacad Flux", sans-serif;
  height: 100vh; /* Full height for the body */
  overflow: hidden; /* Prevent body from scrolling */
  color: white;
  background-color: var(--color-bg); /* Light background color */
  padding-top: 3rem;
}

/* body:hover{
  background-color: var(--hover-color);
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0em;
  margin: 0em;
}

h2 {
  backdrop-filter: blur(5px);
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

a {
  text-decoration: none;
  color: white;
}

#profile {
  width: 50%;
}

.fixed-side {
  position: fixed; /* Fix the sidebar */
  height: 80%; /* Full height */
  width: 50%; /* Fixed width for the sidebar */

  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Arrange children in a column */

  min-width: 50%;
}

.scrollable-side {
  margin-left: 50%; /* Sets the other 50% of the screen's content onto the right side*/
  height: 100%; /* Allows the other 50% to take full height of the screen*/

  overflow-y: auto; /* Allows right side to be scrollable */

  min-width: 50%;
  scroll-behavior: smooth;
}

.left-col {
  display: flex; /* Enable flexbox on this child */
  flex-direction: column; /* Arrange children items in a column */
  flex-grow: 1; /* Allow this section to grow and fill available space */
  padding-left: 45%; /* Adjust any space on the left side of the website */
}

.right-col {
  padding-right: 35%; /* Adjust any space on the right side of the website */

  .project-title {
    font-size: 20px;
  }

  .list-group {
    margin-bottom: 1em;
  }

  .list-group-item {
    color: white;
    z-index: -10;
    background-color: var(--color-bg); /* Light background color */
  }

  .project-title:hover {
    color: #55d4c7;
    cursor: pointer;
    transition: 250ms;
  }

  .skill {
    color: #55d4c7;
    background-color: #13304e;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 2px;
    margin-right: 2px;
    border: solid 2px none;
    border-radius: 1em;
  }
}

.nav-btn:hover {
  color: #55d4c7;
  cursor: pointer;
  transition: 250ms;
}

footer {
  margin-top: auto; /* Push the footer to the bottom */
}

@media screen and (max-width: 960px) {
  body {
    overflow: auto; /* Allow the body to scroll when in stacked mode */
  }

  h2 {
    position: sticky;
    top: 0px;
  }

  #profile {
    width: 25%;
  }

  .navbar {
    display: none;
  }

  .fixed-side,
  .scrollable-side {
    min-width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .scrollable-side {
    width: 100%; /* Take full width */
    height: auto; /* Let height adjust based on content */
    overflow-y: auto; /* Make this side scrollable */
    margin-left: 0%;
  }

  .fixed-side {
    position: relative; /* Change position to relative for stacking */
    width: 100%; /* Take full width */
    height: auto; /* Let height adjust based on content */
  }
  

  .left-col,
  .right-col {
    padding: 0;
  }
}


@media screen and (max-width: 560px) {
  body {
    overflow: auto; /* Allow the body to scroll when in stacked mode */
  }

  h2 {
    position: sticky;
    top: 0px;
  }

  #profile {
    width: 50%;
  }
  
  .navbar {
    display: none;
  }

  .project-skill{
    flex-wrap: wrap;
  }
}
