/* a minimalist set of CSS resets */

/* default to border-box */
a{
  font-family: 'Caveat', cursive;
  
}

p{
  font-family: 'Caveat', cursive;
  text-align:center;
}


html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */


/* images and videos max out at full width */
img {
 display: block;
  margin: 0 auto;  
 position: relative;
  width: 850px;
  height: 300px;

}



.card img{
width: 300px;
  height: 300px;
}

.card:hover{
transform: scale(1.1);
  transition: all 0.3s;

}

.dishname {
  text-align:center;
  font-family: 'Caveat', cursive;
  
}

#Detailviewimg{
  display: block;
  margin-right: auto;
  width: 400px;
  height: 300px;
  

}



/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  
  
  content: "";
  display: table;
  clear: both;
}

#Detailtitle{
  font-family: 'Caveat', cursive;
  text-align:center;
  background-color:#F0493E;
}

#Detailviewhrs{
font-family: 'Amatic SC', cursive;
text-align:center;
  font-size: 40px;
}

#Detailvieaddress{
font-family: 'Amatic SC', cursive;
text-align:center;
font-size: 40px;
}

#Description{
font-family: 'Amatic SC', cursive;
text-align:center;
  font-size: 40px;
}

#Hoursbanner{
text-indent: 25px;
}
#Locationbanner{
text-indent: 30px;
}
#Contactbanner{
text-indent: 25px;
}
#Detailcontact{
font-family: 'Amatic SC', cursive;
text-align:center;
font-size: 40px;
}

#Navbar{
  position: sticky;
  top: 0;
  z-index: 1000;
}

#Logo{
  font-size: 40px;
}

#Cardsmainpage{
  
  
}