
nav{
  margin: 20px 30px 5px 30px;
  background-color: #191A19;
  border: solid black;
  padding: 10px 10px 10px 10px;
  font-family: 'Share Tech Mono', monospace;
}
nav span{
  font-size: 30px;
  color: green;
  padding-right: 40px;
  margin-right: 20px;  
  padding-left: 10px;

}
nav a{
  font-size: 22px;
  border: solid black;
  padding: 5px 15px;
  color: white;
  background-color: #4E9F3D;
  margin-right: -10px;
}
.right-btns {
  margin: 5px;
  float: right;
  padding-bottom: 1px;
  padding-top: 0px;
  border: solid black;
  margin-left: -10px;
  
}
.project-name {
  /*margin-top: 20px;*/
  font-size: 24px;
  border: solid black;
  padding: 10px 15px ;
  color: white;
  background-color: #4E9F3D;
  margin-bottom: 5px;
  font-family: 'Share Tech Mono', monospace;

}
.card-name {
  font-size: 24px;
  border: solid black;
  padding: 10px 0px 10px 15px;
  color: white;
  background-color: #4E9F3D;
  font-family: 'Share Tech Mono', monospace;
  margin-top: 20px;

}
.project-description {
  margin-top: 20px;
  font-size: 20px;
  border: solid green;
  padding-top: 20px;
  padding-left: 50px;
  margin-right: 12px;

}
.lowcard {
  font-size: 18px;
  border: solid green;
  padding-bottom: 10px;
  height: 250px;
  
}
.center {
  border: solid Green;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  float: right;
  margin-top: 10px;
}
.text3 {
  color: white;
}
.bodystyle{
  background-color: #191A19;  
  margin: 10px 30px 5px 30px;

}
.project-img {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.about-me {
  border: solid green;
  padding: 10px 100px 10px 20px;
  color: white;
  font-family: 'Share Tech Mono', monospace;
  margin-top: 150px;
  
}
.pg-aboutme {
  border: solid Green;
  text-align: center;
  color: white;
  bottom: 10px;
}  

.div-box{
  margin-top: 20px;
  padding-top: -10px;
  margin-right: 50px;
}
.ctct{
  
}