@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maname&display=swap');
@import url('https://cdn.glitch.global/5550df79-d521-4c9d-93d9-c24e179706fb/ReadyActiveTest-Light.otf?v=1721202127915');

header{
  font-family: "Rufina", serif;
  font-weight: 400;
  font-style: normal;
}

body, p{
  font-family: "Rufina", serif;
  background: #FBEAEB;
  color:#bb0e00
  
}

h1, h2, h3, {
  font-family: "Elsie", serif;
  font-weight: 400;
  font-style: normal;
}
 
h4, {
  font-family: "Maname", serif;
  font-weight: 400;
  font-style: normal;
}

.myDivClass {
  background-color: #bb0e00;
}

span.mySpanClass {
  background-color: #f8a19f;
  color:#bb0e00;
  border-color: #bb0e00
}

label {
  color: #ffffff;
}

a,.btn-outline, .btn-primary{
  background-color:#f8a19f;
  color:#bb0e00;
  transition: all 300ms ease;
  outline: #bb0e00;
  border-color: #bb0e00;
  margin-top: 1em;
}

.bello{
  margin-top: 13em;
}

@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maname&display=swap');

html {
  scroll-behavior: smooth;
}

nav {
  justify-content: space-around;
  align-items: center;
  color: #bb0e00;
}

.nav-link {
  gap: 2rem;
  list-style: none;
  font-size: 1rem;
  color: #bb0e00;
}


a {
  color: #bb0e00;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: #9e230f;
  text-decoration: none;
  text-underline-offset: 1rem;
  text-decoration-color: #bb0e00;
  color: #bb0e00;
}

body {
  font-family: "Rufina", serif;
  font-weight: 400;
  font-style: normal;
  background: #FBEAEB;
  color:#bb0e00;
}

.Funny, .Recent, h3, {
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
}
 
h4, {
  font-family: "Maname", serif;
  font-weight: 400;
  font-style: normal;
}

.card-body{
  background: #FBEAEB;
  width: 40;
  height: 60;
  
}


.bg-custom{
  background: #f7cbc9;
}

btn.btn-color{
  background:#efd99e; 
}

.btn-color hover{
  background:#efd99e;
  color: #000000;
}
.w-md-50{
  width: 50%
}

.container {
  position: relative;
  width: 40;
  height: 60;
}

.image {
  display: center;
  width: 40;
  height: 60;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 2;
  left: 0;
  right: 0;
  height: 103%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #EFD99E;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: #bb0e00;
  font-size: 20px;
  position: absolute;
  top: 15%;
  bottom: 20%;
  left: 50%;
  right: 50%;
  height: 53%;
  width: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}