/* a minimalist set of CSS resets */

/* default to border-box */
body{
  background-color:#9DC08B;
}
html {
  box-sizing: border-box;
  font-size: 16px;
}

/*header*/
h1{
 font-family: 'Sail', sans-serif;
font-style: normal;
font-weight: 200;
  font-size:70px;
  color:#E6E5A3;
 
}
.header{
  border:none;
  background:#557153;
  padding:20px 0px 20px 0px
}

.email {
padding-bottom:18px;
  padding-left:20px;
 
}
.linkedin{
padding-bottom:18px;
  padding-left:20px;
}
a{
  text-decoration:none;
   color:#E6E5A3;
  font-family:'eczar',serif;
}

.navb{
  font-size:28px;
  margin-bottom:13px;
}
/*bio*/
#about{
  background:#EDF1D6 ;
  padding-bottom:30px;
  padding-top:20px;
}
.pfp{
 max-height:100%;
  max-width: 350px;
  margin-right:0;
  border:;
 
}
.bio-title{
  font-family:'eczar',cursive;
  font-size:45px;
  font-weight:200;
}
.summary{
  font-family:'eczar',serif;
  margin-top:100px;
  margin-bottom:120px;
  
}
.bio{
  font-size:25px;
}
.card{
  margin-top: 40px;
  margin-bottom:70px;
}
/*projects*/
#projects{
  background:#9DC08B;

  
}
.title{
  font-family:'eczar',serif;
  padding-top:40px;
  font-size:45px;
}
.title2{
  font-family:'eczar',serif;
  padding-bottom:20px;
  font-size:25px;
}
.projects .content{
  display:flex;
  justify-content:center;
  flex-direction:row;
  flex-wrap:wrap;

   background:#9DC08B;
  }

.projects .content .projbx{
  position:relative;
  width:265px;
  height:256px;
  margin: 10px;
  transition:0.5;
  text-align:center;
}
.projects .content .projbx .imgbox,
.projects .content .projbx .proj
{
  position:absolute;
  top:0
    ;left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
    
}
.projects .content .projbx .imgbox img{
  position:absolute;
  top:0
  ;left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
    object-fit:fill;
}

.projects .content .projbx .proj h4{
  color:white;
  text-transform:uppercase;
  letter-spacing:1px;
  font-size:1em;
}

.projects .content .projbx .proj{
  background:black;
  opacity:0;
  transition:0.5s;
  
}

.projects .content .projbx:hover .proj{
opacity:1;
  
}
.filler{
  margin:100px;
   background:#9DC08B;
}
/*contact*/
#contact
{
  background:#EDF1D6;
   padding-bottom:50px;
}
.fill{
  padding-bottom:50px;
  
}
.titlec{
  padding-top:70px;
    font-family:'eczar',serif;
  font-size:45px;
}
.titlec2{
  font-size:25px;
  font-family:'eczar',serif;
}
.fas
{
  color:#9DC08B;
}

.btn{ 
background-color:#9DC08B; }




