/* This is some additional styling being applied
to Bootstrap's broad categories of elements, like 'card'. 
It is making our elements a bit prettier, adding borders and
some space between edges. We'll learn more about this during
Intro to CSS, then see how it's applied to Bootstrap during
Intro to Bootstrap. */

h1 {
    color: white;
    font-family: "Poppins", sans-serif;
    margin-top: 0.2em;
  }
  
  .lead {
    margin-top: 0.5em;
    color: white;
  }
  
  h5 {
    font-family: "Poppins", sans-serif;
  }
  
  header {
    margin-bottom: 2em;
  }
  
  .jumbotron {
    padding: 1em;
    background: #1377ff;
    margin: 0.5em;
  }
  
  .main img {
    width: 100%;
    display: none;
  }

  .btn,
  .card,
  .card-img-top {
    border-radius: 0px;
    /*   unrounds the edges */
  }
  
  .card {
    min-width: 18rem;
    border: 0.1em solid #1377ff;
    text-align: center;
    margin: 0px 0.3em;
    height: 28rem;
  }
  
  .card:hover {
    border: 4px solid #373fff;
    background-color: #bdd1f0;
    opacity: 100%;
  }
  
  .row {
    margin-bottom: 10px;
  }
  
  #dev-mission-logo {
    height: 5em;
    float: left;
    margin-right: 1em;
  }
  
  .card-img-top {
    height: 24rem;
  }