/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  padding: 0;
  margin: 0;
  background: lightgrey;
}

.container {
  width: 70%;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

/* Navigation Bar */
.navigation-bar {
  background: black;
  padding: 20px;
  text-align: center;
}

.navigation-bar a {
  color: black;
  border: 2px solid black;
  padding: 5px 7px;
  border-radius: 10px;
  background: white;
  text-decoration: none;
  font-weight: 900;
  margin: 0px 30px;
  font-size: 20px;
}

.navigation-bar a:hover {
  background: plum;
}

/* Introduction Section */
.introduction .banner {
  background: black;
  color: white;
  padding: 30px;
  text-align: center;
  border-radius: 20px;
}

.introduction p {
  background: white;
  padding: 20px;
  border: solid 2px black;
  font-size: 15px;
  border-radius: 20px;
}
.introduction-card {
  display: flex;
  align-items: center;
}

.introduction-card .text {
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 20px;
}
.image img {
  width: 100%;
}

/* Education */
.education {
  background: white;
  padding: 16px;
  border: solid 2px black;
  text-align: center;
  border-radius: 20px;
}

/* Skills Section */
.skills {
  background: white;
  padding: 16px;
  border: solid 2px black;
  text-align: center;
  margin-top: 20px;
  border-radius: 20px;
}

.skills-card {
  border: solid 2px black;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 16px;
}

.skills-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* Experince */
.experience {
  background: white;
  padding: 16px;
  border: solid 2px black;
  text-align: center;
  margin-top: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.experience-card {
  border: solid 2px black;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 16px;
}

.experience-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
