graph.name{
  width:50%;
  color:black;  
}

.headshot{
  width:25%;
  border:1px solid black;
  }

.right{
  width:10%;
  border:1px solid black;
  float:right;
  margin-top:-468px;
  margin-right:1200px;
  font-size:20px;
  }

.something{
  width:25%;
}

.body{
  background-color: lightblue;
}
