.img{
  display:block;
  border: 3px solid #73AD21;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
  position: relative;
  opacity:1.0;
  
}
.image{
  display:block;
  border: 3px solid #73AD21;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
  position: relative;
}
h1{
  text-align:center;
  z-index: 1000;
  position: relative;
  
}
h2{
  text-align:center;
  z-index: 1000;
  position: relative;
}

#mySidenav a {
  position: absolute; 
  left: -110px; 
  transition: 0.3s; 
  padding: 12px; 
  width: 100px; 
  text-decoration: none; 
  font-size: 20px;
  color: white; 
  border-radius: 0 5px 5px 0; 
  z-index: 1000;
  
}

#mySidenav a:hover {
  left: 0;
  z-index: 1000;
  position: absolute;
}

#home {
  top: 20px;
  background-color: #04AA6D;
  z-index: 1000;
  position: relative;
}

#about {
  top: 70px;
  background-color: #00008B;
  z-index: 1000;
  position: relative;
}

#experience {
  top: 120px;
  background-color: #555;
  z-index: 1000;
  position: relative;
}
#skills{
  top: 170px;
  background-color: #8B008B;
  z-index: 1000;
  position: relative;
}

#projects {
  top: 220px;
  background-color: #DC143C;
  z-index: 1000;
  position: relative;
}
#contact {
  top: 270px;
  background-color: #5F9EA0;
  z-index: 1000;
  position: relative;
}



.responsive {
  width: 100%;
  height: auto;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-blend-mode: lighten;
  
}