h2 {
  border: dotted red;
  
  width: 7.5em;
    margin-left:3.5em;
  margin-top:3.5em;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 6em;
}
.titulo{
  background-color: #C689C6;
}
.carousel {
width:             25em;
  
  height: 22em;
}

img {
  height: 22em;
}
.col-4 {
  margin-top: 7.5em;
  font-family: 'Abyssinica SIL', serif;
}

.projects {
  margin-top: 8em;
  margin-left:7em;
  font-family: 'Alkalami', serif;
  background-color: #FFB3B3;
}

.cuadro{
  background-color: #FFE6F7;
}
.carrusel {
  background-color: #C3F8FF;
}

  
.imagen{
  height:20em;
    width:20em;
}