html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

@media only screen and (max-width: 595px) {
  section {
    padding: 2em 1.5em;
  }
  
  .headshot {
    padding-top: 2em;
    padding-bottom: 0.75em;
  }
}

@media only screen and (min-width: 600px) {
  section {
    padding: 2em 3em;
  }
  
  .headshot {
    padding-top: 2em;
    padding-bottom: 0.75em;
  }
}

@media only screen and (min-width: 1200px) {
  section {
    padding: 2em 8em;
  }
}

nav {
  margin: 0;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  width: 65%;
  height: 600px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-size: 3.5em;
  font-weight: bold;
  background-color: #A6E9D5;
  width: max-content;
  margin-bottom: 0.75em;
  margin-top: 1em;
  padding: 0.5em;
  border-radius: 5px;
}

h2 {
  font-size: 3em;
}

p {
  font-size: 1.25em;
}

#projects, #resume {
  background-color: #E0F1E9;
}

#contact-me a {
  background-color: #DEE2E6;
  color: #000000;
  display: flex;
  justify-content: center;
}

.card {
  height: 100%;
}

.card-title {
  font-weight: bold;
  font-size: 1.5em;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#about-me p {
  font-size: 1.5em;
}

svg {
  margin-right: 5px;
}

.btn {
  background-color: #37A87F;
  border: none;
}

.btn:hover {
  background-color: #20C997;
  color: #000000;
}
