/*.container{
  width:100;
  display:flex;
  background-color:black;
  justify-content:center;
  color:white;
  height:50px;
  align-items:center;
}*/
@media only screen and (max-width: 600px) {
.container {
      width:100%;
      display:flex;
      justify-content:space-around;
      background-color:black;
      color:white;
      height:80px;
      align-items:center;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {  
    .container {
        width:100%;
        display:flex;
        justify-content:space-around;
        background-color:black;
        color:white;
        height:80px;
        align-items:center;
        only screen and (min-width: 600px)
  }
}
/* Large devices (laptops/desktops, 992px and up) */
   @media only screen and (min-width: 992px) {   
  .container {
        width:100%;
        display:flex;
        justify-content:space-around;
        background-color:black;
        color:white;
        height:80px;
        align-items:center;
        screen and (min-width: 992px)
  }
}
.about{
  text-align:center
}
.photo{
  img-align:left;
  text-align:left;
  
}
img {
    max-width: 10%;
    max-height:5%;
    float: left;
  }
.career{
  text-align:center;
}
.blog{
  text-algin:center;
}