* {
/*   padding: 10px;
  margin: 2px; */
  background-color: lavender;
}


.about-col-1 {
  align-content: center;
  justify-content: center;
  padding: 20px;
}

.about-col-2 {
  align-content: center;
}

.about-text {
  justify-content: center;
  text-align: center;
}

body {
  background-color: lavender;  
  height: 100%;
/*   font-family: "Doto", serif; */
}

h1, h2,h3, h4 {
  font-family: "Cinzel", serif;
}

h4 a {
  text-decoration: none;
}

.projects {
  padding: 20px;
}

.card {
  padding: 0;
  margin: 20px;
}

.fa-brands:hover {
  transform: scale(1.4); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition: transform .2s; 
}
.fa-brands:not(:hover) { 
  transform: scale(1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition: transform .2s; 
} 