/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}
/*.Image-of-self-container {
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
  border: 5px solid #ffff;
  height: 100%;
  width: 50%;
  background-size: contain;
  overflow: hidden;
}
.Image-of-self-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}*/
.self {
  width: 600px;
  height: 190px;
  background-color: green;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
#st-box {
  float: left;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
  border: 5px solid #ffff;
  height: 100%;
  width: 50%;
  background-size: contain;
  overflow: hidden;
}
#nd-box {
  float: left;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
  border: 5px solid #ffff;
  height: 100%;
  width: 50%;
  background-size: contain;
  overflow: hidden;
  font-family: Courier New, Courier, "Lucida Sans Typewriter",
    "Lucida Typewriter";
}

h1 {
  center-color: pink;
  text-decoration-line: underline;
  text-decoration-color: blue;
  font-family: courier, courier new, serif;
}
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
