
.topnav a {
  color: #ffffff;
  text-align: center;
  padding: 100px; 
  font-size: 18px;
}
.topnav {
  background-color: #00C897;
}


.right{
text-align: right;     
}


b{
  font-size: 29px;
  font-family: 'Mea Culpa', cursive;
}


.bioh2{
  margin: 30px;
  padding: 0px;
  font-family: 'Fredoka', sans-serif;
}


.topright {
  justify-content:center;
}

.infoheading{
  font-family: 'Mea Culpa', cursive;
  font-size: 50px;
}
.infoheadbackground{
  background-color:#00C897
}
.experienceheading{
  font-family: 'Mea Culpa', cursive;
  font-size: 50px;
}
  .tinkercadlogo {
    text-align: justify;
    width: [250px];
}
  
  .img{
    border: 10px solid #000000;
    
  }
  
  .double {
  border-style:  10px solid #000000 ;
  }
 
  .whitefont{
      color: #ffffff;
  }
  
  
.nounderline a{
  text-decoration: none;
}
  



