.page-settings{
    background-color: #120505;
    color: #FFFFFF;
}

#navbar{
    width: 100%;
    background-color: #460D0D;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1000;
}

#navbar-elements{
    display: flex;
    justify-content:space-between;
    margin: 0 10rem 0 10rem;
    flex-grow: 4;
}

#navbar-elements a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 2rem;
}


#navbar-title{
    flex-grow: 2;
    text-align: center;
    font-size: 3rem;
}

.Title{
    margin: 5rem 0 5rem 0;
    text-align: center;
    font-size: 4rem;
    font-weight: normal;
}

.Title strong{
    color: #F48C06;
}

#AboutMe{
    padding-top: 5rem;
}

#Paragraph {
    display: flex;
    align-items: center; 
    text-align: center;  
}

#ImageContainer {
    flex-basis: 25%;  
    display: flex;
    margin-left: 5rem;
    justify-content: center; 
    align-items: center;     
}

#ProfileImage {
    flex-basis: 25%; 
    max-width: 100%; 
    height: auto;
    border: #460D0D;
    border-width: 10px;
    border-radius: 2rem;
    border-style: solid;
}

#Paragraph p{
    flex-grow: 1;    
    flex-basis: 0;   
    margin: 0 4rem 0 4rem;
    font-size: 2rem;
}

.card-img-control{
    width: 240px;
    height: 180px;
}

.img-size-control{
    width: 286px;
    height: 180px;
}

.experience-card{
    background-color: #460D0D;
    padding: 1rem 0 1rem 0;
}

.card-info{
    color:#F48C06;
}



.main-timeline {
    position: relative;
  }
  
  
  .main-timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: #460D0D;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  
  .timeline {
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  
  .timeline::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: #460D0D;
    border: 5px solid #F48C06;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  
  .left {
    padding: 0px 40px 20px 0px;
    left: 0;
  }
  
  
  .right {
    padding: 0px 0px 20px 40px;
    left: 50%;
  }
  
  
  .left::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    right: 30px;
    border: medium solid #460D0D;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #460D0D;
  }
  
  
  .right::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    left: 30px;
    border: medium solid #460D0D;
    border-width: 10px 10px 10px 0;
    border-color: transparent #460D0D transparent transparent;
  }
  
  
  .right::after {
    left: -12px;

        color: #460D0D;
  }
  
  
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .main-timeline::after {
      left: 31px;

        color: #460D0D;
    }
  
    
    .timeline {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
    
    .timeline::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
    
    .left::after,
    .right::after {
      left: 18px;
        color: #460D0D;
    }
  
    .left::before {
      right: auto;
        color: #460D0D;
    }
  
    
    .right {
      left: 0%;
        color: #460D0D;
    }
  }

.card-bg{
    background-color: #460D0D;
}

.card-settings{
  background-color: #460D0D;
  color: #F48C06;
}

.Project-Container{
    margin: 0 5rem 0 5rem;
    
    display: flex;
    justify-content: space-between;
}


.skill-card {
  animation: zoomIn 1s;
  animation-fill-mode: both;
  margin: 2rem 0 2rem 0;
}

.card-hover {
  transition: all 0.3s;
}

.card-hover:hover {
  transform: scale(1.01);
}

.card-container {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  margin: 0 auto 20px;
  background-color: #460D0D;
  width: 70vw;
  border: 2px solid #F48C06;
}
.card-image-container {
  padding: 10px;
  display: flex;
  align-items: center;
}

.card-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.proficiency-bar-container {
  background-color: #1E1E1E;
  border-radius: 15px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.proficiency-bar {
  background-color: #D8A206;
  padding: 1px;
  border-radius: 15px;
  display: flex;
  justify-content: flex-end;
}

.level-text {
  font-size: 12px;
  color: #ffffff;
  margin-right: 5px;
  font-weight: bold;
}

.description {
  padding: 10px;
  color: white;
}

@keyframes zoomIn {
  from {
      opacity: 0;
      transform: scale(0.5);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}
