/* a minimalist set of CSS resets */

/* default to border-box */

/*
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

 adjust typography defaults 
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

 images and videos max out at full width 
img,
video {
  height: auto;
  max-width: 100%;
}

*/
h1{
  color:pink;
  font-size: 30px;
  font-family:Fantasy, Papyrus
  
  
}

h3 {
  color:black;
  font-size: 20px;
  font-family:Fantasy, Papyrus;
  text-align: center;
  
}
p {
  
  border-style: double;
  background-color:white;
  margin-right: 400px;
  margin-left: 400px;
  text-align: center;
   padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;

}

a {
    text-align:center;
    display:block;
    color: white;

}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
body {
  
  background-image: url("https://cdn.glitch.global/af5289f2-9ac1-4c2e-8f65-b3733eed8722/image.jpeg?v=1719443727322")
}