.foto{
  width: 70%;
}
.section{
  display: inline-block;
  width: 100%;
  height: 100vh;
}
.botones{
  background-color: #A7BBC7;
  
  
  
}
.presentacion{
  width: 100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
  
  margin-top:10%;
  margin-bottom: 10%;
}
.cardsh{
  margin-top:10%;
  

}
.hlau{
  font-family: 'Fredoka One', cursive;
  font-size: 2em;
}
.hlaumedium{
  font-weight: bold;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  
}
.hlauplan{
  font-size: 0.6em;
  font-family: 'Raleway', sans-serif;
  
}
body {
  background-color: #FAF3F3;
}
.ss2{
  background-color: #E1E5EA; 
  width: 100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.ss3{
  background-color: #ffd6de;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.ss4 {
  background-color: #e1eff7;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.carousel{
  width: 100%;
  
  
  
}