html, body {
  height: 100%;
  margin: 2;
  padding: 0;
}

.carousel {
  height: 100vh; /* Full viewport height */
}

.carousel-inner {
  height: 100%; 
}

.carousel-item img {
  height: 100vh; /* Full viewport height */
  object-fit: cover; /* Prevent image distortion */
}

img,
video {
  height: 70%;
  max-width: 50%;
}

.img-fluid{
  width:200px;
}
h1 {
  font-size: 2.5em;
  font-weight: bold;
  background-color: #A6E9D5;
  width: max-content;
  margin-bottom: 0.65em;
  margin-top: 1em;
  padding: 0.5em;
  border-radius: 5px;
}
