/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 20px;
  text-align: center
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 16px;
  margin-top: 150px;
  margin-bottom: 100px;
  margin-right: 80px;
  margin-left: 80px;
  background-color: lightblue;
  background-image: url("https://cdn.glitch.global/3563e0ea-977a-4423-95d6-a26702de1f06/pexels-travis-blessing-1363876.jpg?v=1646878743519");
color: green;
}


.rightcrumb{
  float: right;
  margin-top: -5rem

}
.col{
  margin-left: 1rem
}
.row{
  margin-top: 1rem;
  margin-left: 10rem
}

/* images and videos max out at full width */
img,

video {
  height: auto;
  max-width: 100%;
  
}
.goldengate{
  margin-top: -1rem;
  margin-left: 15rem;
 border-style: solid ;
}
