:root {
  --off-white-text-color: #d8dfe5;
  /* --dark-blue-color: rgb(10, 33, 53); */
  --dark-blue-color: rgb(13, 25, 35);
  --light-blue-color: rgb(42, 42, 81);
}

hr {
  width: 40%;
  height: 0.5px;
  opacity: 50%;
  margin-left: auto;
  margin-right: auto;
  color: var(--off-white-text-color);
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark-blue-color);
  /*https://www.w3schools.com/css/css3_gradients.asp */
  background-image: linear-gradient(
    to right,
    var(--dark-blue-color),
    rgb(34, 41, 85)
  );
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: var(--off-white-text-color);
}

.navbar {
  background-color: rgb(21, 27, 53);
  overflow: hidden;
  display: flex;
  justify-content: space-between; /* Spread the items to both ends */
  align-items: center; /* Vertically center the items */
  /* text-align: right;  */
  border-bottom: 1px solid var(--off-white-text-color);
}

.navbar .leftSide {
  text-align: left;
}

.navbar .rightSide {
  text-align: right;
}

.navbar a {
  color: var(--off-white-text-color);
  display: inline-block; /* Display the links in a row */
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  transition: opacity 0.3s;
}

.navbar a:hover {
  opacity: 0.7;
}

img.profile-pic {
  max-width: 40%;
  height: fit-content;
  border-radius: 30px;
}

/* project icon hover  */
img.project-img {

  border-radius: 10px;
  padding: 5px;
  width: 150px;
}

img.project-img:hover {
  box-shadow: 0 0 2px 1px var(--off-white-text-color);
}

/* contact hover  */
img.contact-icons {
   border-radius: 10px;
   padding: 1px;
  
}

img.contact-icons:hover {
/*   box-shadow: 0 0 0.5px 0.5px var(--off-white-text-color); */
  opacity: 0.5;
}

/*pic, hello, short about*/
.welcome-line {
  display: flex;
  padding: 20px 200px 20px; /*top, left-right, bottom*/
}

.hi-line {
  color: var(--off-white-text-color);
  margin-left: 25px;
  font-size: 3rem;
}

.about-line {
  margin-left: 25px;
  font-size: 1.5rem;
}

.about {
  /* background-color: #f2f2f2; */
  /* background-color: rgb(140, 163, 183);; */
  padding: 20px;
  align-items: center;
}

.projects {
  /* background-color: #f9f9f9; */
  padding: 20px;
  color: var(--off-white-text-color);
}

.contact {
  /* background-color: #f2f2f2; */
  padding: 20px;
}

h1 {
  font-family: Caprasimo;
  text-align: center;
  font-size: 3rem;
}

/* h2 {
    text-align: center;
} */

.projects {
  text-align: center;
}

.project-row {
  display: flex;
  justify-content: center;
  
}

.contact-row{
  display: flex;
  justify-content:center;
}

.project-column {
  padding-right: 18px;
}

.contact {
  text-align: center;
}

.footer-copyright {
  text-align: center;
}

@media screen and (max-width: 500px) {
  .project-column {
    width: 100%;
  }
}
