h4 a {
      color: blue; /* Set the text color to black */
    }

a{
  color: blue; /* Set the text color to black */
}

.box { /*Aka Webpage color*/
  width: 606px;
  height: 116px;
  top: 0px;
  left: 110px;
  background: #F1F1F1;
  border-radius: 118px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  margin-top: 98px;
  margin-left: 310px;
  margin-bottom: 0px;
  padding: 0px;
}

/* .box .full-project {
  position: fixed;
  width: 1392px;
  height: 1159px;
  top: 0;
  left: 0;
}*/

/* .box .overlap {
  position: relative;
  width: 1398px;
  height: 1159px;
} */

.box .overlap-group {
  position: absolute;
  width: 890px;
  height: 566px;
  top: 570px;
  left: 280px;
}

.box .bottom {
  position: absolute;
  width: 388px;
  height: 63px;
  top: 503px;
  left: 78px;
}

/* .box .div {
  position: relative;
  width: 382px;
  height: 63px;
} */

.box .text-wrapper { /*Resume text */
  position: absolute;
  width: 227px;
  top: 0px;
  left: 155px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.box .text-wrapper-2 { /*LinkedIn text */
  position: absolute;
  width: 130px;
  top: 0px;
  left: 28px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.box .IN-icon {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 20px;
  left: 0;
  object-fit: cover;
}

 .box .p { /*Be sure to text*/
  position: absolute;
  width: 344px;
  top: -17px;
  left: 0px;
  font-family: "Cuprum-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

/* .box .mid {
  position: absolute;
  width: 890px;
  height: 518px;
  top: 0;
  left: 0;
} */

/* .box .overlap-2 {
  position: relative;
  width: 884px;
  height: 518px;
} */

 .box .shadowbox { /*Works/ Projects */
  position: absolute;
  width: 884px;
  height: 487px;
  top: 31px;
  left: 0;
  object-fit: cover;
}

.box .square-decor {
  height: 407px;
  top: 34px;
  left: 73px;
  position: absolute;
  width: 797px;
  background-color: #29499a;
}

.box .rectangle { /*greybox*/
  position: relative;
  width: 787px;
  height: 399px;
  top: 4px;
  left: 5px;
  background-color: #d9d9d9;
}

.box .text-wrapper-3 { /*Websites text*/
  position: absolute;
  width: 321px;
  top: 390px;
  left: 513px;
  font-family: "Cuprum-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.rectangle-2 { /*Web app img placeholder*/
  position: absolute;
  width: 250px;
  height: 328px;
  top: 54px;
  left: 511px;
  background-color: #ffffff;
}

.img-1 { /*Web app img */
  position: absolute;
  width: 270px;
  height: 330px;
  top: 622px;
  left: 782px;
  border-radius: 4px;
  object-fit: cover;
}

.box .text-wrapper-4 { /*Art portfolio text */
  position: absolute;
  width: 166px;
  top: 390px;
  left: 196px;
  font-family: "Cuprum-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.rectangle-3 { /*Art portfolio img placeholder*/
  position: absolute;
  width: 250px;
  height: 328px;
  top: 54px;
  left: 164px;
  background-color: #ffffff;
}

.img-2 { /*Art portfolio img*/
  position: absolute;
  width: 270px;
  height: 330px;
  top: 622px;
  left: 434px;
  border-radius: 4px;
  object-fit: cover;
}

.box .text-wrapper-5 { /*Works/ Projects text*/
  position: absolute;
  width: 212px;
  top: 0;
  left: 78px;
  text-shadow: 3px 1px 1px #ffffff;
  font-family: "Cuprum-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

/* .box .overlap-3 {
  position: absolute;
  width: 1398px;
  height: 1159px;
  top: 0;
  left: 0;
} */

.box .top { /*img icon placement */
  position: absolute;
  width: 1327px;
  height: 539px;
  top: 16px;
  left: 71px;
}

.box .overlap-4 { /*Name and about me text and decor placement*/
  position: absolute;
  width: 1114px;
  height: 459px;
  top: 80px;
  left: 206px;
}

.box .img { /*About me dotted shadow*/
  position: absolute;
  width: 888px;
  height: 430px;
  top: 29px;
  left: 0;
  object-fit: cover;
}

.box .rectangle-wrapper { /*About me blue box*/
  height: 210px;
  top: 202px;
  left: 71px;
  position: absolute;
  width: 797px;
  background-color: #29499a;
}

.box .rectangle-4 { /*About me grey box*/
  position: relative;
  width: 787px;
  height: 201px;
  top: 4px;
  left: 5px;
  background-color: #d9d9d9;
}

 .aboutdesc {
  position: absolute;
  width: 721px;
  top: 210px;
  left: 120px;
  font-family: "Cuprum-Regular", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0px;
  line-height: normal;
}

.box .text-wrapper-6 { /*About me text*/
  position: absolute;
  width: 212px;
  top: 167px;
  left: 76px;
  text-shadow: 3px 1px 1px #ffffff;
  font-family: "Cuprum-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.box .text-wrapper-7 { /*Name text*/
  position: absolute;
  width: 1044px;
  top: 0;
  left: 70px;
  text-shadow: 6px 7px 3px #ffffff;
  -webkit-text-stroke: 1px #000000;
  font-family: "Orbitron-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 98px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-image {
  position: absolute;
  width: 165px;
  height: 160px;
  top: 60px;
  left: 5px;
}

.leftdecor {
  position: absolute;
  width: 250px;
  height: 1170px;
  top: 0px;
  left: -3px;
  padding: 0px;
/*   object-fit: cover; */
}

/* .box .navbar-nav {
  position: absolute;
  width: 1084px;
  height: 59px;
  top: 0;
  left: 157px;
}
 */
/* .box .overlap-5 {
  position: relative;
  height: 58px;
  background-color: #f8f9fa;
  border-radius: 4px;
} */

/* .box .links {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 18px;
  left: 23px;
} */

/* .box .logo {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--basic-typography-paragraph-bold-font-family);
  font-weight: var(--basic-typography-paragraph-bold-font-weight);
  color: var(--color-fillfont-color);
  font-size: var(--basic-typography-paragraph-bold-font-size);
  letter-spacing: var(--basic-typography-paragraph-bold-letter-spacing);
  line-height: var(--basic-typography-paragraph-bold-line-height);
  white-space: nowrap;
  font-style: var(--basic-typography-paragraph-bold-font-style);
} */

/* .box .link {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--basic-typography-paragraph-font-family);
  font-weight: var(--basic-typography-paragraph-font-weight);
  color: var(--color-fillfont-color);
  font-size: var(--basic-typography-paragraph-font-size);
  letter-spacing: var(--basic-typography-paragraph-letter-spacing);
  line-height: var(--basic-typography-paragraph-line-height);
  white-space: nowrap;
  font-style: var(--basic-typography-paragraph-font-style);
} */

/* .box .element-input-inputgroups {
  position: absolute;
  width: 170px;
  height: 38px;
  top: 10px;
  left: 791px;
  background-color: var(--color-fillwhite);
} */

/* .box .input {
  height: 38px;
}
 */
/* .box .overlap-group-2 {
  position: relative;
  width: 345px;
  height: 38px;
} */

/* .box .background {
  position: absolute;
  width: 170px;
  height: 38px;
  top: 0;
  left: 0;
} */

/* .box .background-color {
  position: relative;
  width: 172px;
  height: 40px;
  top: -1px;
  left: -1px;
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--input-statedefault);
} */

/* .box .placeholder {
  position: absolute;
  width: 330px;
  top: 6px;
  left: 15px;
  font-family: var(--form-input-8-placeholder-default-font-family);
  font-weight: var(--form-input-8-placeholder-default-font-weight);
  color: #E1BB5C;
  font-size: var(--form-input-8-placeholder-default-font-size);
  letter-spacing: var(--form-input-8-placeholder-default-letter-spacing);
  line-height: var(--form-input-8-placeholder-default-line-height);
  font-style: var(--form-input-8-placeholder-default-font-style);
  background: #E1BB5C;
  border: none;
  padding: 0;
} */

/* .box .element-buttons-default {
  position: absolute;
  width: 91px;
  height: 38px;
  top: 10px;
  left: 970px;
  all: unset;
  box-sizing: border-box;
} */

/* .box .overlap-6 {
  position: relative;
  height: 38px;
} */

/* .box .button-types {
  position: absolute;
  width: 91px;
  height: 38px;
  top: 0;
  left: 0;
} */

/* .box .background-color-2 {
  position: relative;
  width: 93px;
  height: 40px;
  top: -1px;
  left: -1px;
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--color-fillprimary);
}
 */
/* .box .value {
  position: absolute;
  width: 54px;
  top: 7px;
  left: 19px;
  font-family: var(--button-2-button-default-font-family);
  font-weight: var(--button-2-button-default-font-weight);
  color: var(--color-fillprimary);
  font-size: var(--button-2-button-default-font-size);
  text-align: center;
  letter-spacing: var(--button-2-button-default-letter-spacing);
  line-height: var(--button-2-button-default-line-height);
  font-style: var(--button-2-button-default-font-style);
}
 */


/* :root {
  --color-fillprimary: rgba(13, 110, 253, 1);
  --color-fillsecondary: rgba(108, 117, 125, 1);
  --color-fillsuccess: rgba(25, 135, 84, 1);
  --color-filldanger: rgba(220, 53, 69, 1);
  --color-fillwarning: rgba(255, 193, 7, 1);
  --color-fillinfo: rgba(13, 202, 240, 1);
  --color-filllight: rgba(248, 249, 250, 1);
  --color-filldark: rgba(52, 58, 64, 1);
  --color-fillblack: rgba(0, 0, 0, 1);
  --color-fillwhite: rgba(255, 255, 255, 1);
  --color-fillfont-color: rgba(33, 37, 41, 1);
  --color-fillcard-background: rgba(247, 247, 247, 1);
  --button-statehover: rgba(0, 0, 0, 0.15);
  --button-stateactive: rgba(0, 0, 0, 0.2);
  --button-statedefault: rgba(0, 0, 0, 0);
  --button-state3-focus-state1-primary: rgba(13, 110, 253, 0.5);
  --button-state3-focus-state2-secondary: rgba(108, 117, 125, 0.5);
  --button-state3-focus-state3-success: rgba(113, 221, 55, 0.5);
  --button-state3-focus-state4-danger: rgba(220, 53, 69, 0.5);
  --button-state3-focus-state5-waning: rgba(255, 193, 7, 0.5);
  --button-state3-focus-state7-info: rgba(13, 202, 240, 0.5);
  --button-state3-focus-state8-dark: rgba(52, 58, 64, 0.5);
  --button-state3-focus-state9-light: rgba(248, 249, 250, 1);
  --input-stateerror: rgba(220, 53, 69, 1);
  --input-statesuccess: rgba(25, 135, 84, 1);
  --input-statedisabled: rgba(233, 236, 239, 1);
  --input-statefocus: rgba(128, 189, 255, 0.5);
  --input-statehover: rgba(201, 209, 215, 1);
  --input-stateactive: rgba(128, 189, 255, 0.5);
  --input-statedefault: rgba(206, 212, 218, 1);
  --input-stateon-statedisabled: rgba(13, 110, 253, 0.5);
  --input-stateon-statefocus: rgba(13, 110, 253, 0.5);
  --input-stateon-statedefault: rgba(13, 110, 253, 1);
  --input-stateoff-statedisabled: rgba(173, 181, 189, 0.5);
  --input-stateoff-statefocus: rgba(13, 110, 253, 0.5);
  --input-stateoff-statedefault: rgba(173, 181, 189, 1);
  --accordion-stateaccordion-header-active: rgba(231, 241, 255, 1);
  --accordion-stateaccordion-header: rgba(222, 222, 222, 1);
  --basic-typography-display-1-font-family: "HelveticaNeue-Medium", Helvetica;
  --basic-typography-display-1-font-weight: 500;
  --basic-typography-display-1-font-size: 64px;
  --basic-typography-display-1-letter-spacing: 0px;
  --basic-typography-display-1-line-height: normal;
  --basic-typography-display-1-font-style: normal;
  --basic-typography-display-2-font-family: "HelveticaNeue-Medium", Helvetica;
  --basic-typography-display-2-font-weight: 500;
  --basic-typography-display-2-font-size: 56px;
  --basic-typography-display-2-letter-spacing: 0px;
  --basic-typography-display-2-line-height: normal;
  --basic-typography-display-2-font-style: normal;
  --basic-typography-display-3-font-family: "HelveticaNeue-Medium", Helvetica;
  --basic-typography-display-3-font-weight: 500;
  --basic-typography-display-3-font-size: 48px;
  --basic-typography-display-3-letter-spacing: 0px;
  --basic-typography-display-3-line-height: normal;
  --basic-typography-display-3-font-style: normal;
  --basic-typography-display-4-font-family: "HelveticaNeue-Medium", Helvetica;
  --basic-typography-display-4-font-weight: 500;
  --basic-typography-display-4-font-size: 32px;
  --basic-typography-display-4-letter-spacing: 0px;
  --basic-typography-display-4-line-height: normal;
  --basic-typography-display-4-font-style: normal;
  --basic-typography-h1-heading-font-family: "HelveticaNeue-Medium", Helvetica;
  --basic-typography-h1-heading-font-weight: 500;
  --basic-typography-h1-heading-font-size: 40px;
  --basic-typography-h1-heading-letter-spacing: 0px;
  --basic-typography-h1-heading-line-height: normal;
  --basic-typography-h1-heading-font-style: normal;
  --basic-typography-h2-heading-font-family: "HelveticaNeue-Medium", Helvetica;
  --basic-typography-h2-heading-font-weight: 500;
  --basic-typography-h2-heading-font-size: 32px;
  --basic-typography-h2-heading-letter-spacing: 0px;
  --basic-typography-h2-heading-line-height: normal;
  --basic-typography-h2-heading-font-style: normal;
  --basic-typography-h3-heading-font-family: "HelveticaNeue-Medium", Helvetica;
  --basic-typography-h3-heading-font-weight: 500;
  --basic-typography-h3-heading-font-size: 28px;
  --basic-typography-h3-heading-letter-spacing: 0px;
  --basic-typography-h3-heading-line-height: normal;
  --basic-typography-h3-heading-font-style: normal;
  --basic-typography-h4-heading-font-family: "HelveticaNeue-Medium", Helvetica;
  --basic-typography-h4-heading-font-weight: 500;
  --basic-typography-h4-heading-font-size: 24px;
  --basic-typography-h4-heading-letter-spacing: 0px;
  --basic-typography-h4-heading-line-height: normal;
  --basic-typography-h4-heading-font-style: normal;
  --basic-typography-h5-heading-font-family: "HelveticaNeue-Medium", Helvetica;
  --basic-typography-h5-heading-font-weight: 500;
  --basic-typography-h5-heading-font-size: 20px;
  --basic-typography-h5-heading-letter-spacing: 0px;
  --basic-typography-h5-heading-line-height: normal;
  --basic-typography-h5-heading-font-style: normal;
  --basic-typography-h6-heading-font-family: "HelveticaNeue-Medium", Helvetica;
  --basic-typography-h6-heading-font-weight: 500;
  --basic-typography-h6-heading-font-size: 16px;
  --basic-typography-h6-heading-letter-spacing: 0px;
  --basic-typography-h6-heading-line-height: normal;
  --basic-typography-h6-heading-font-style: normal;
  --basic-typography-paragraph-lead-font-family: "HelveticaNeue-Regular", Helvetica;
  --basic-typography-paragraph-lead-font-weight: 400;
  --basic-typography-paragraph-lead-font-size: 20px;
  --basic-typography-paragraph-lead-letter-spacing: 0px;
  --basic-typography-paragraph-lead-line-height: normal;
  --basic-typography-paragraph-lead-font-style: normal;
  --basic-typography-paragraph-font-family: "HelveticaNeue-Regular", Helvetica;
  --basic-typography-paragraph-font-weight: 400;
  --basic-typography-paragraph-font-size: 16px;
  --basic-typography-paragraph-letter-spacing: 0px;
  --basic-typography-paragraph-line-height: 23px;
  --basic-typography-paragraph-font-style: normal;
  --basic-typography-paragraph-semi-bold-font-family: "HelveticaNeue-Bold", Helvetica;
  --basic-typography-paragraph-semi-bold-font-weight: 700;
  --basic-typography-paragraph-semi-bold-font-size: 16px;
  --basic-typography-paragraph-semi-bold-letter-spacing: 0px;
  --basic-typography-paragraph-semi-bold-line-height: 23px;
  --basic-typography-paragraph-semi-bold-font-style: normal;
  --basic-typography-paragraph-bold-font-family: "HelveticaNeue-Bold", Helvetica;
  --basic-typography-paragraph-bold-font-weight: 700;
  --basic-typography-paragraph-bold-font-size: 16px;
  --basic-typography-paragraph-bold-letter-spacing: 0px;
  --basic-typography-paragraph-bold-line-height: 23px;
  --basic-typography-paragraph-bold-font-style: normal;
  --basic-typography-paragraph-small-font-family: "HelveticaNeue-Regular", Helvetica;
  --basic-typography-paragraph-small-font-weight: 400;
  --basic-typography-paragraph-small-font-size: 13px;
  --basic-typography-paragraph-small-letter-spacing: 0px;
  --basic-typography-paragraph-small-line-height: 20px;
  --basic-typography-paragraph-small-font-style: normal;
  --basic-typography-paragraph-small-semi-bold-font-family: "HelveticaNeue-Bold", Helvetica;
  --basic-typography-paragraph-small-semi-bold-font-weight: 700;
  --basic-typography-paragraph-small-semi-bold-font-size: 12px;
  --basic-typography-paragraph-small-semi-bold-letter-spacing: 0px;
  --basic-typography-paragraph-small-semi-bold-line-height: 20px;
  --basic-typography-paragraph-small-semi-bold-font-style: normal;
  --basic-typography-paragraph-small-bold-font-family: "HelveticaNeue-Bold", Helvetica;
  --basic-typography-paragraph-small-bold-font-weight: 700;
  --basic-typography-paragraph-small-bold-font-size: 13px;
  --basic-typography-paragraph-small-bold-letter-spacing: 0px;
  --basic-typography-paragraph-small-bold-line-height: 20px;
  --basic-typography-paragraph-small-bold-font-style: normal;
  --basic-typography-delete-font-family: "HelveticaNeue-Regular", Helvetica;
  --basic-typography-delete-font-weight: 400;
  --basic-typography-delete-font-size: 15px;
  --basic-typography-delete-letter-spacing: 0px;
  --basic-typography-delete-line-height: 24px;
  --basic-typography-delete-font-style: normal;
  --basic-typography-italicized-font-family: "HelveticaNeue-Regular", Helvetica;
  --basic-typography-italicized-font-weight: 400;
  --basic-typography-italicized-font-size: 15px;
  --basic-typography-italicized-letter-spacing: 0px;
  --basic-typography-italicized-line-height: 24px;
  --basic-typography-italicized-font-style: normal;
  --basic-typography-underline-font-family: "HelveticaNeue-Regular", Helvetica;
  --basic-typography-underline-font-weight: 400;
  --basic-typography-underline-font-size: 16px;
  --basic-typography-underline-letter-spacing: 0px;
  --basic-typography-underline-line-height: 24px;
  --basic-typography-underline-font-style: normal;
  --button-1-button-lg-font-family: "HelveticaNeue-Medium", Helvetica;
  --button-1-button-lg-font-weight: 500;
  --button-1-button-lg-font-size: 20px;
  --button-1-button-lg-letter-spacing: 0.5px;
  --button-1-button-lg-line-height: normal;
  --button-1-button-lg-font-style: normal;
  --button-2-button-default-font-family: "HelveticaNeue-Medium", Helvetica;
  --button-2-button-default-font-weight: 500;
  --button-2-button-default-font-size: 16px;
  --button-2-button-default-letter-spacing: 0.4571428596973419px;
  --button-2-button-default-line-height: normal;
  --button-2-button-default-font-style: normal;
  --button-3-button-small-font-family: "HelveticaNeue-Medium", Helvetica;
  --button-3-button-small-font-weight: 500;
  --button-3-button-small-font-size: 14px;
  --button-3-button-small-letter-spacing: 0.46666666865348816px;
  --button-3-button-small-line-height: normal;
  --button-3-button-small-font-style: normal;
  --form-input-1-label-lg-font-family: "HelveticaNeue-Regular", Helvetica;
  --form-input-1-label-lg-font-weight: 400;
  --form-input-1-label-lg-font-size: 20px;
  --form-input-1-label-lg-letter-spacing: 0px;
  --form-input-1-label-lg-line-height: normal;
  --form-input-1-label-lg-font-style: normal;
  --form-input-2-label-default-font-family: "HelveticaNeue-Regular", Helvetica;
  --form-input-2-label-default-font-weight: 400;
  --form-input-2-label-default-font-size: 16px;
  --form-input-2-label-default-letter-spacing: 0px;
  --form-input-2-label-default-line-height: normal;
  --form-input-2-label-default-font-style: normal;
  --form-input-3-label-sm-font-family: "HelveticaNeue-Regular", Helvetica;
  --form-input-3-label-sm-font-weight: 400;
  --form-input-3-label-sm-font-size: 14px;
  --form-input-3-label-sm-letter-spacing: 0px;
  --form-input-3-label-sm-line-height: normal;
  --form-input-3-label-sm-font-style: normal;
  --form-input-4-input-lg-font-family: "HelveticaNeue-Regular", Helvetica;
  --form-input-4-input-lg-font-weight: 400;
  --form-input-4-input-lg-font-size: 18px;
  --form-input-4-input-lg-letter-spacing: 0px;
  --form-input-4-input-lg-line-height: normal;
  --form-input-4-input-lg-font-style: normal;
  --form-input-5-input-default-font-family: "HelveticaNeue-Regular", Helvetica;
  --form-input-5-input-default-font-weight: 400;
  --form-input-5-input-default-font-size: 15px;
  --form-input-5-input-default-letter-spacing: 0px;
  --form-input-5-input-default-line-height: normal;
  --form-input-5-input-default-font-style: normal;
  --form-input-6-input-sm-font-family: "HelveticaNeue-Regular", Helvetica;
  --form-input-6-input-sm-font-weight: 400;
  --form-input-6-input-sm-font-size: 12px;
  --form-input-6-input-sm-letter-spacing: 0px;
  --form-input-6-input-sm-line-height: normal;
  --form-input-6-input-sm-font-style: normal;
  --form-input-7-placeholder-lg-font-family: "HelveticaNeue-Regular", Helvetica;
  --form-input-7-placeholder-lg-font-weight: 400;
  --form-input-7-placeholder-lg-font-size: 18px;
  --form-input-7-placeholder-lg-letter-spacing: 0px;
  --form-input-7-placeholder-lg-line-height: normal;
  --form-input-7-placeholder-lg-font-style: normal;
  --form-input-8-placeholder-default-font-family: "HelveticaNeue-Regular", Helvetica;
  --form-input-8-placeholder-default-font-weight: 400;
  --form-input-8-placeholder-default-font-size: 15px;
  --form-input-8-placeholder-default-letter-spacing: 0px;
  --form-input-8-placeholder-default-line-height: 24px;
  --form-input-8-placeholder-default-font-style: normal;
  --form-input-9-placeholder-sm-font-family: "HelveticaNeue-Regular", Helvetica;
  --form-input-9-placeholder-sm-font-weight: 400;
  --form-input-9-placeholder-sm-font-size: 12px;
  --form-input-9-placeholder-sm-letter-spacing: 0px;
  --form-input-9-placeholder-sm-line-height: normal;
  --form-input-9-placeholder-sm-font-style: normal;
  --table-header-1-table-header-font-family: "HelveticaNeue-Bold", Helvetica;
  --table-header-1-table-header-font-weight: 700;
  --table-header-1-table-header-font-size: 16px;
  --table-header-1-table-header-letter-spacing: 1.3333333730697632px;
  --table-header-1-table-header-line-height: normal;
  --table-header-1-table-header-font-style: normal;
  --menu-active-1-menu-active-font-family: "HelveticaNeue-Regular", Helvetica;
  --menu-active-1-menu-active-font-weight: 400;
  --menu-active-1-menu-active-font-size: 15px;
  --menu-active-1-menu-active-letter-spacing: 0px;
  --menu-active-1-menu-active-line-height: 23px;
  --menu-active-1-menu-active-font-style: normal;
} */
