/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}



.jetbrains-mono{
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-size: 25px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.bgPage{
  background-color: black;
}

/* adjust typography defaults */
body {
  font-family: sans-serif;
  line-height: 1.5;
}

.bar{
  margin: 1rem;
}

.goDown{
  position: relative; 
	top: 45px;
	
}

.goMiddle{
  position: relative; 
	top: -320px;
}

.nextPage{
  margin: 30px;
  background-color: #76082E;
  padding: 30px;
}

.endPage{
  border-top: 2px solid white;
}

h1{
  font-family: "Wittgenstein", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: fixed;
  font-size: 100px;
  

}

.cardSize{
  box-sizing: content-box;
  width: 300px;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

.goUp{
  margin: -639px;
}

.goRight{
  margin-top: 150px;
  right: -76%;
}

.backIMG{
  background-image: url("https://cdn.glitch.global/be71fafd-22fa-4ea8-afc7-647d002cdac9/josh-hild-RvTp824JZhU-unsplash.jpg?v=1720638389221");
  background-color: #cccccc;
  width: 100%;
  background-position: center;
}

.fontType{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}


