@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Lobster&family=Noto+Serif+Gujarati&family=Satisfy&display=swap");
* {
  
  font-family: "Edu TAS Beginner", cursive;
}
body{
  background-color: green;
  color:black;
  font-size:30px;
}



header {
  padding: 5% 40%;
  text-align: center;
  background: url("https://media.istockphoto.com/vectors/computer-games-seamless-background-vector-id528711245?b=1&k=6&m=528711245&s=612x612&w=0&h=zKGpDrFzAtNBAkze6CneYPH2cPtjgTIm94yJKalnpUc=");
}

header h1 {
  color: white;
  font-size: 30px;
  padding: 5%;
  margin: 5% 0px;
  background: rgba(0, 0, 0, 0.8);
}

.topnav {
  padding: 20px;
  text-align: center;
  background-color: black;
}
.bookmark {
  display: inline-block;
  border-radius: 10px;
  color: white;
  padding: 1% 2%;
  text-align: center;
  text-decoration: none;
  margin: 0px 3%;
}
.bookmark:hover {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.7),
    rgba(98, 52, 140, 0.7)
  );
}
.center img{
  width:25%;
  height:25%;
  border:5px;
  margin:10px;
  
}
.center {
  text-align: center !important;
}

.projects { 
    padding-top: 60px;
    padding-bottom: 55px;
    box-shadow: inset 0 0 10px #DCA531;
  }
  
  .projectcard {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 15px;
    margin-top: 15px;
  }
  
  .card-img-top{
    width:92%;
  }

.skills { 
    padding-top: 60px;
    padding-bottom: 60px;
    
  }
  
  .skillscard {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 15px;
    margin-top: 15px;
  }
  
  .skills-text{
    text-align: center;
  }
.skills img{
  width: 100px;
  height:100px;
}

 .footer { 
    padding-top: 60px;
    padding-bottom: 55px;
    box-shadow: inset 0 0 10px #DCA531;
  }
  
  .sociallinks{
    padding-top: 20px;
  }
  
  .card-title{
    font-weight: bold;
  }

hr{
    border: 0.1px solid gold;
  margin:100px;
}
  
  #linkedin {
    width: 48px;
    height: 46px;
    padding-left: 10px;
  }
  
  #email {
    width: 56px;
    height: 43px;
    padding-left: 10px;
  }
  
  /* font styling */
  .highlight{
    font-weight: bold;
    color: #F5C767;
}
  
  