@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');
* {
				box-sizing: border-box;
			}

			body {
				margin: 0;
				background: #F5F5F7;
				font-family: 'Poppins', sans-serif;
			}

			.spacer {
				width: 100%;
				height: 100vh;
				background: #ffffff;
			}

			.spacer > div {
				color: black;
				font-weight: 400;
				font-size: 90px;
				display: flex;
				align-items: center;
				justify-content: center;
				padding-top: 300px;
			}

			.headline {
				/*background: #d4d3d3;*/
				border-radius: 6px;
				height: 4em;
				width: 100%;
			}

			.text {
				margin: 0.8em 0 0 0;
				background: #efefef;
				border-radius: 6px;
				height: 1em;
				width: 100%;
			}

/*Kristy*/
.name {
  font-size: 45px;
  font-weight: 500;
}

.title {
  font-size: 45px;
  font-weight: 400;
}

.Sub-text {
  font-size: 14px;
  font-weight: 100;
  /*color: #D85396;*/
  color: #04445F;
}

.skills {
  font-size: 17px;
  font-weight: 200;
  margin-top: 1rem;
}

.View {
  position: relative;
  top: -18.7rem;
  padding: 15px 27px 13px;
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  border-radius: 47px;
  background-color: Transparent;
  /*color: #D85396;
  border-color: #D85396;*/
  color: #04445F;
  border-color: #04445F;
  margin-left: 200px;
  
}

.button{
  text-decoration: none; 
}

/*End of Kristy*/

			.gallery {
				display: flex;
				box-sizing: border-box;
				/*background: #f8e6ef;*/
        
			}

			.left {
				width: 50%;
			}

			.detailsWrapper {
				margin: auto;
				width: 80%;
			}

			.details {
				height: 100vh;
				display: flex;
				flex-direction: column;
				justify-content: center;
        margin-left: 200px;
			}

			.right {
				width: 50%;
				height: 100vh;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			.photos {
				width: 40vw;
				height: 40vw;
				background: transparent;
				position: relative;
			}

			.photos-box {
				overflow: hidden;
				position: absolute;
				width: 80%;
				height: 80%;
				top: 10%;
				left: 10%;
				border-radius: 20px;
			}

			.photo {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}

			.photo img {
				float: left;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			/*.col1 {
				background: #f9d2e5;
			}

			.col2 {
				background: #cdd1ff;
			}

			.col3 {
				background: #ffe4d3;
			}

			.col4 {
				background: #ffb399;
			}*/

			@media all and (max-width: 640px) {
				.gallery {
					position: relative;
				}

				.left {
					width: 100%;
				}

				.right {
					width: 100%;
					position: absolute;
				}

				.photos {
					position: absolute;
					width: 100%;
					height: 50vh;
					bottom: 0px;
				}

				.photos-box {
					width: 90%;
					height: 90%;
					top: 0%;
					left: 5%;
					bottom: 5%;
				}

				.details {
					justify-content: start;
					margin-top: 90px;
				}
			}


/*Gallery*/
.container-img {
  display: block;
  width: 100vw;
  height: 150vh;
  margin: 0px auto;
  overflow: hidden;
  position: relative;
}
.row {
  position: absolute;
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.col1 {
  width: 33%;
  height: auto;
}
.col2 {
  width: 33%;
  height: auto;
  margin-left: calc(33% + 10px);
}
.col3 {
  width: 33%;
  height: auto;
  margin-left: calc(66% + 20px);
}
.gallery-img {
  position: relative;
  z-index: 4;
}
.gallery-img .gallery_item {
  padding-bottom: 10px;
  text-align: left;
}
.gallery-img .gallery_item img {
  width: 100%;
  height: auto;
}



/*Start of Landing page*/

.fullwidth-image {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    /*clip-path: polygon(5% 10%, 95% 10%, 95% 90%, 5% 90%);*/
}

.fullwidth-image img {
    position: absolute;
    inset: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;

    /* transform: translateY(-20%); */
}

.fullwidth-image__overlay {
    position: absolute;
    inset: 0;
    z-index: 2;
    background-color: black;
    opacity: 0;
}

.fullwidth-image__text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: white;
}

.fullwidth-image h2 {
  font-weight: 700;
    font-size: 6.4rem;
    margin-bottom: 1.6rem;
  text-align: center;
}

.fullwidth-image p {
  font-weight: 700;
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
  text-align: center;
}
/*End of Landing*/


/*Start of Featured Project*/


.feature {
    position: relative;
    text-align: left;
    /*display: grid;*/
    display: flex;
    overflow: hidden;
}
.feature img {
  width: 50%;
  
}

.feature::before {
    content: " ";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /*background-color: #E596FF;*/
  background-color: #04445F;
    opacity: 50%;
    top: 0;
    left: 0;
    z-index: -1;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: #04445F;
    letter-spacing: .2em;
    font-size: .85em;
    margin-top: 16em;
  margin-left: 12em;

}

.featured-title {
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: .4em;
    
  margin-left: 7.7em;
}

.featured-desc {
    color: #3b3b3b;
    margin-bottom: 3em;
    font-size: .84em;
    line-height: 1.8em;
    font-weight: 300;
  margin-left: 12em;
}


  
    .left,  {
        display: grid;
       place-content: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    
    }

    .right-img {
        margin-left: 2em;
        margin-top: 5em;
    }




/*Macbook Air Size */ 
@media only screen and  (min-width: 1200px min-height: 900px) {
  .name {
  font-size: 45px;
  font-weight: 500;
}

.title {
  font-size: 35px;
  font-weight: 400;
}

.Sub-text {
  font-size: 14px;
  font-weight: 100;
  /*color: #D85396;*/
  color: #04445F;
}

.skills {
  font-size: 17px;
  font-weight: 200;
  margin-top: 1rem;
}

.View {
  position: relative;
  /*top: -15em;*/
  padding: 15px 27px 13px;
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  border-radius: 47px;
  background-color: Transparent;
  /*color: #D85396;
  border-color: #D85396;*/
  color: #04445F;
  border-color: #04445F;
  margin-left: 100px;
  
}

.button{
  text-decoration: none; 
}

.left {
				width: 60%;
			}

			.detailsWrapper {
				margin: auto;
				width: 80%;
			}

			.details {
				height: 100vh;
				display: flex;
				flex-direction: column;
				justify-content: center;
        margin-left: 100px;
			}    

.right-vid {
  width:50%
}

}

/*Ipad Air Size */ 
@media only screen and  (min-width: 920px) {
  
  .name {
  font-size: 40px;
  font-weight: 500;
}

.title {
  font-size: 40px;
  font-weight: 400;
}

.Sub-text {
  font-size: 14px;
  font-weight: 100;
  /*color: #D85396;*/
  color: #04445F;
}

.skills {
  font-size: 17px;
  font-weight: 200;
  margin-top: 1rem;
}

.View {
  position: relative;
  /*top: -42.3rem;*/
  padding: 15px 27px 13px;
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  border-radius: 47px;
  background-color: Transparent;
  /*color: #D85396;
  border-color: #D85396;*/
  color: #04445F;
  border-color: #04445F;
  margin-left: 50px;
  
}

.button{
  text-decoration: none; 
}

.left {
				width: 60%;
			}

			.detailsWrapper {
				margin: auto;
				width: 80%;
			}

			.details {
				height: 100vh;
				display: flex;
				flex-direction: column;
				justify-content: center;
        margin-left: 50px;
			}

  
      

.right-vid {
  width:40%
}

.feature img {
  width: 40%;
  
}

.fullwidth-image h2 {
  font-weight: 700;
    font-size: 4.4rem;
    margin-bottom: 1.6rem;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: #04445F;
    letter-spacing: .2em;
    font-size: .85em;
    margin-top: 12em;
  margin-left: 9.2em;

}

.featured-title {
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: .4em;
    
  margin-left: 6.0em;
}

.featured-desc {
    color: #3b3b3b;
    margin-bottom: 3em;
    font-size: .84em;
    line-height: 1.8em;
    font-weight: 300;
  margin-left: 9.2em;
}

.fullwidth-image h2 {
  font-weight: 700;
    font-size: 3.3rem;
    margin-bottom: 1.6rem;
  
}
}
