body {
  color: #e2f1e7;
  background-color: #1e201e;
  font-family: Monospace, sans-serif;
}
.profilepic {
  border-radius: 50%;
}
.navbar {
  background-color: #101109;
}
.headicon {
  font-size: 30px;
}
.card {
  background: transparent;
  border-style: solid;
  border-width: 40px 25px 25px 30px;
  border-color: #1e201e;
  border-radius: 0.3rem;
  color: #e2f1e7;
}
.card-group {
  margin-top: 50px;
}
.pic {
  margin-top: 35px;
}
.ktba {
  margin-top: 100px;
}
.icons {
  margin-top: 100px;
}
.icon {
  background-color: #1e201e;
  border: none;
  color: #f0f37a;
}
.skills {
  margin-top: 350px;
  font-size: 60px;
  font-family: sans-serif;
}
.projects {
  margin-top: 200px;
  font-size: 60px;
  font-family: sans-serif;
}
.card-text1 {
  color: black;
  font-size: 20px;
}
.submit {
  background-color: #f0f37a;
  color: black;
}
.contac {
  font-size: 60px;
  font-family: sans-serif;
  margin-top: 100px;
}
.contact {
  margin-top: 100px;
  margin-bottom: 100px;
}
img {
  height: auto;

  max-width: 100%;
}
.naji{
  margin-bottom: 100px;
}