/* Navbar style */
.navbar {
  background-color: white;
}

.about {
  width: 100%;
  padding: 70px 0px;
  background-color: #c3e4f4;
}

.about img {
  height: auto;
  width: 300px;
}

.text {
  width: 600px;
}

.main {
  width: 1130px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
div {
  display: block;
}

body {
  background-color: pink;
}

li {
  font-size: 18px;
}

/* body {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
} 

.text {
/*   flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  margin-left: 20px;
  margin-right: 80px;
  padding: 150px;
  font-family: Arial, sans-serif; */

.col-sm-6 {
  display: flex;
}

.col-sm-3 {
  display: flex;
}

.projects {
  background-color: #c3e4f4;
}
/* .skills {
  
  width: 100%;
    padding: 78px 0px;
    word-wrap: break-word;
  justify-content: space-around;
  
 padding-left: 50%; */

/* } 

.projects {
  background-color: #C3E4F4;
}



.project {
  width: 1130px;
    max-width:100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  
}

h2{
  padding: 10px
}

.info {
  padding: 10px
}

p {
  font-size: 18px
}
/*   $grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px */
/* );
}
 */
/* .projects {
    background-color: #f4f4f4;
    width: 100%;
    margin-bottom: 20px;
  }

  .projects h2 {
    margin-top: 0;
  }

  .projects ul {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .projects li{
    margin-left: 5%;
  } */
