@import url(search.css);
@import url(estyle.css);
@import url(hamburger.css);
@import url(darkmode.css);
@import url(Carasoule.css);
@import url(testamonials.css);
@import url(cards.css);

/*GLOBAL SCOPE*/
:root {
    --main-bg-color-light: #f5eeee;
    --main-search-color-dark: #643fef;
    --main-search-color-light: #8b6ef3;
    --main-bg-color-dark: #5b79aa;
    --main-font-color-light: #fdfdfd;
    --main-font-color-dark: #020202;

    --font-size-mobile: 1rem;
    --font-size-tablet: 1.1rem;
    --font-size-desktop: 1.2rem;

    --link-color-hover: 0;
    --link-color: 0;
}

/*MOBILE PHONES*/
@media only screen and (max-width: 480px) {
    .container {
        font-size: var(--font-size-mobile);
        /* background-color: var(--main-bg-color-light); */
        color: var(--main-font-color-dark);
    }
}

/* TABLETS */
@media only screen and (min-width: 72px) {
    .container {
        font-size: var(--font-size-tablet);
        /* background-color: var(--main-bg-color-dark); */
    }
}

/* LAPTOPS | DESKTOPS */
@media only screen and (min-width: 998px) {
    .container {
        font-size: var(--font-size-desktop);
        /* background-color: var(--main-bg-color-light); */
    }
}



.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;

}

.logo {
    height: 6em;
    width: auto;
    object-fit: contain;
}

.logo2 {
    height: 6em;
    width: auto;
    margin-left: 1em;
    object-fit: contain;
}


.logo-container img:hover {
    box-shadow: 0 0 15px rgba(255, 165, 0, 0.7);
    transition: box-shadow 0.3s ease-in-out;
}

.hr-color {
    display: block;
    margin: 0 auto;
}


.hr-color {
    border: none;
    border-top: 3px solid #3cbfb8;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}



  /*Sliding Carosoule */
  #container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #container img {
    max-width: 10%;
    height: auto;
  }
