/* CSS files add styling rules to your content */

body {
  font-size: 1.5em;
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-image: url(https://cdn.glitch.com/874529ba-01ea-499f-aca0-593876b6a895%2Ftaliabackground.jpg?v=1602117758074);
}
h1 {
  font-style: italic;
  color: black;
  font-size: 6em;
  text-align: center;
}
h2 {
  font-style: italic;
  color: black;
}
h3 {
  font-style: italic;
  color: black;
}
#me {
  border: 10px solid transparent;
  padding: 1em;
  border-image: url(
      https://cdn.glitch.com/874529ba-01ea-499f-aca0-593876b6a895%2Fborder.png?v=1602118917435
    )30round;
}
#carouselExampleFade {
  width: 360px;
}
.carousel-item active {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(
      https://cdn.glitch.com/874529ba-01ea-499f-aca0-593876b6a895%2Fborder.png?v=1602118917435
    )30round;
}

.photo {
  width: 100px;
  height: 400px;
  
}

.col {
  background-color: #ffe6ff;
  border: 4px solid #ffb3ff;
}
