/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  background-image: url("https://cdn.glitch.global/d4557a07-4e75-4915-b128-43b031ac5292/Screen%20Shot%202024-07-03%20at%205.56.41%20PM.png?v=1720649985026");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  color: White;
}
.size {
  width: 9em;
  height: 5em;
}

.size2{
  width: 25em;
  height: 5em;
  margin-left: 18em;
}
/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}
