.container {
  position: relative;
  text-align: center;
  color: white;
}

p{
  font-family:"Montserrat"
}
body {
  background-color: silver;
}

div{
  font-family:"Montserrat"
}
.heading {
  color:white;
  font-family:"Montserrat";
  font-size: 40px;
}
.subtext{
  color:white;
  font-family:"Montserrat";
  font-size:10px;
  background-color:black;
}
.headshot{
  width: 150px;
  border-width: 8px;
  border-style: solid;
  border-radius: 0%;
  
  margin: 10px;
}
.citypic{
  opacity:100%;
  filter: brightness(25%);
  
}
.cropped {
   /* width of container */

    height: 250px; /* height of container */
    overflow: hidden;
  padding: 0px;
object-fit: contain;
  
  
}

  .intro{
    font-family: "Montserrat";
    background-color: silver;
    color:white;
    font-size:20px;
  
  }




/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  
   color:white;
  font-family:"Montserrat";
  font-size:18px;
  background-color:black;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 22%;
  transform: translate(-50%, -50%);
}