.navbar-custom {
  background-color: #002855 !important;
}

.nav-link{
  color: white;
}

h1 {
  font-size: 5em;
  font-family: "Copperplate", Fantasy; 
  color: #002855;
  background-color: #B3A369;
}

h2{
  font-size: 3rem;
  font-family: "Copperplate", Fantasy; 
  color: #002855;
}

#headshot {
  height: 100%;
  width: 50%;
}

.description {
  font-size: 1rem;
  font-family: "Copperplate", Fantasy; 
  margin: auto;
}

.section {
  border-style: solid;
  border-radius: 1em;
  border-color: #002855;
  padding: 2em;
}

.card-img-top {
  object-fit: cover;
  height: 50%;
}

.contactinfo{
  font-size: 1.5rem;
}

body {
  background: #B4C5E4;
}