/* CSS files add styling rules to your content */

/* "auto" makes the left and right margins center the wrapper */
#wrap {
  width: 800px;
  margin: 0 auto;
}

body {
  background-color: #242f44;
  color: white;
  font-family: "Oswald", sans-serif;
}

header {
  text-align: center;
  margin-top: 5px;
  
}

h1 {
  font-size: 36px;
  padding: 15px;
  color: #8c6b48;
  background-color: white;
  text-align: center;
}

h2 {
  font-size: 24px;
  padding: 15px;
  text-transform: uppercase;
}
.hobbies{
  font-size: 20px;
  color:  #76ead7;
  
}

h3 {
  font-size: 20px;
  padding: 15px;
  text-transform: uppercase;
  text-align: left;
  margin-left: 20px;
  font-weight: 500;
  line-height: 2.7;
  letter-spacing: 0.8px;
}

p {
  font-size: 14px;
  padding: 15px;
  text-transform: uppercase;
  text-align: justify;
  margin-left: 20px;
  font-weight: 500;
  line-height: 2.7;
  letter-spacing: 0.8px;
}

li {
  display: list-item;
  font-size: 14px;
  text-align: -webkit-match-parent;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

th {
  border: 2px solid #8c6b48;
}

table {
  text-align: center;
  margin: 20px auto;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

td {
  border: 2px solid #8c6b48;
  width: 300px;
}
address {
  text-align: center;
  margin: center;
}
footer {
  margin-top: 50px;
  text-align: center;
  width: 100%;
  bottom: 5px;
  background-color: #242f44;
  z-index: 5;
}
#Name {
  color: #cff6cf;

}
footer h3 {
  display: inline-block;
  font-size: 14px;
}
.Flamingo{
  
  width: 100px;
  height: 100px;
}
.Groupname{
  font-family: "Monoton";
  font-weight: 550;

}

.container {
  max-width: 940px;
  margin: 0 auto;
  height: 800px;
}
.Hobbies{
  font-weight: bold;
  font-size: 15px;
}
.left {
  width: 150px;
}
.AleydaD{
  color:
  font-weight: bold;
}
.recipes{
  float: left;
}
.iconDetails {
 margin-left:2%;
float:left; 
height:40px;
width:40px; 
} 

.container2 {
    width:270px;
    height:auto;
    padding:1%;
    float:left;
}
h4{margin:0}
.left {float:left;width:45px;}
.right {float:left;margin:0 0 0 5px;width:215px;}

}
