body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Montserrat", sans-serif;
  background-color: #99c9bd;
  color:black;
}



.me{ 
    width: 400px;
height: 600px;
  position: absolute;
  left: 100px;
  top: 100px;
}
.aboutme{

font-style: normal;
font-weight: 400;
line-height: 2.0em;
position: absolute;
left: 600px;
top: 100px;  
text-align:left;
 width: 700px;
 
  
  
  
}
h1{
    font-size:30px;
    text-align: left;
  
  }
p{
  font-size:20px;
  text-align:left;
  

}
.projects{
position:absolute;
top:130px;
text-align:center;
  margin: auto;
  left:650px;
    font-size:30px;
  
  

  
}

/*page 2 start here*/


.contact2 {
  color: black;
  float: right;
  font-size: 20px;
  padding: 20px 25px;
  background-color: orange;
}

  


/* Contact me form start here*/


.me2{ 
    width: 350px;
height: 400px;
  position: absolute;
  left:1050px;
  top:55px;
  line-height: 5.8em; 
}
.inkd{
  position:absolute;
  top:70px;
  
  
  
}
.instagram{
position:absolute;
  top:195px;
}
  

  
  

.projects1{
 
  position: absolute;
  left: 20%;
  top: 170px;
  font-size:30px;
  
}
.card1{
  justify-content: flex-end;
}
.mb-4{
  position: absolute;
  top:435px;
  background-color:grey;
}
.whatsapp{
  position: absolute;
  top:320px;
}
.inkedn{
  position:absolute;
  top:90px;
  left:150px;
  font-size:40px;
  text-decoration:none;
}
.insta{
  position:absolute;
  top:215px;
  left:150px;
  font-size:40px;
  text-decoration:none;
  color:black;
  
}
.whatsappe{
  position:absolute;
  top:340px;
  left:150px;
  font-size:40px;
  
  
  
}