/* General styles */
body {
    background: linear-gradient(135deg, #FFB6C1 20%, #FFC3A0 80%);
    color: white;
    overflow-x: hidden;
    padding-bottom: 50px;
}

/* Header styles */
h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: 100px;
}

.navbar {
    padding: 15px 20px;
}

.social-icon {
    width: 40px;
    transition: transform 0.3s;
    margin: 0 15px;
}

.social-icon:hover {
    transform: scale(1.2);
}

/* Content container for bio and image */
.img-fluid {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.about-me {
    color: #333;
}

.about-me h2 {
    color: #333;
}
p{
 font-size: 20px 
}


/* Projects Section */
.card {
    background-color: #333;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    color: white;
    transition: transform 0.3s, background-color 0.3s;
}

.card:hover {
    transform: scale(1.05);
    background-color: #444;
}

/* Skills Section */
.skill img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    transition: transform 0.3s;
}

.skill img:hover {
    transform: scale(1.1);
}

.skill p {
    font-size: 1.2rem;
    color: #333;
}
