/*------------------------------------------------Header and Nav-----------------*/


{
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Open sans', sans-serif;
  color: black;
}

h4{
  font-size: 21px;
}

h4, h5, h6{
  margin-top: 10px;
  margin-bottom: 10px;
}



body {
  margin: 0;
  padding: 0;
  color: black;
  width: 100%;
  height:100%;
  font-size: 17px;
  line-height: 1.7;
  font-height: 400;
  font-family: 'Open Sans', sans-serif;
}

/*-----------------------Navigation Header------------------------------------*/

nav {
  background-color: grey;
}

nav:after {
  content:'';
  display: block;
  clear: both;
}

.logo, .menu {
  display: inline-block;
}

.logo {
  float: left;
  margin: 16px 0 16px 50px;;
  color:white;
  text-transform: uppercase;
  font-weight: 900;
}

.menu {
  float: right;
  margin: 0;
  margin-top: 16px;
  margin-right: 30px;
}

.menu ul {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

.menu ul li {
  display: inline-block;
  margin-right: 20px;
}

.menu ul li a {
  text-decoration: none;
  padding: 20px 10px 20px 10px;
}
.menu ul li a:hover {
  background-color: blue;
  color: white;
  transition: all 0.5s ease;
}

/*-----------------Header Section--------------------------*/
header  {
  background-color:maroon;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  background:url(https://cdn.glitch.com/823ef012-1cbc-481d-af37-7c61dae32d3c%2Fyowda.jpg?v=1603574195298);
  background-repeat:no-repeat;
  background-size:cover;
  background-height:25%;
}

header p {
  margin: 0;
}

.yowda-container {
  text-align: center;
  padding-top: 300px;
  color: beige;
}

header h1{
  color:beige;
}

.btn-contact {
  color: blue;
  background-color: white;
  text-decoration: none;
  border-radius: 20px;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  transition: all 0.5s ease;
}

.btn-contact:hover {
  background-color: blue;
  color: white;
  transition: all 0.5s ease;
}

/*---------------------ABOUT ME SECTION--------------------*/


.about-me {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: grey;
  
}

.about-me:after {
  content:'';
  display: block;
  clear: both;
}

.about-me h2 {
  color: black;
  text-align: center;
  text-transform: uppercase;
}

about-me h2:after {
  content:'':
  position: absolute;
  width: 80px;
  height: 2px;
  margin-left: -40px;
  left: 50%;
  bottom: 0px;
  
  
  
}
.about-me .col-left,
.about-me .col-right {
  width: 50%;
  float: left;
}

.about-me a {
  background-color: chartreuse;
  padding: 10px 25px;
  text-decoration: none;
  color: white;
  border-radius:20px;
  font-size: 17px;
  display: inline-block;
  border: 1px solid chartreuse;
  
}


.about-me a:hover{
  background-color:white;
  color: chartreuse;
}
.about-me .col-left img {
  max-width: 100%;
}

.about-me .col-left img {
  padding-left: 5%
  padding-right: 5%
}

/*--------------------------------------------------------My Skills Section------------------------------------------------------*/

.my-skills{
  background-color: lightblue;
  padding-top: 50px;
  padding-bottom: 50 px;
  text-align: center;
}

.my-skills h2{
  text-transform: uppercase;
  position: relative;
}


  

.my-skills:after{
  content:'';
  display: block;
  clear: both;
}

.my-skills .skills-left, .my-skills .skills-center, .my-skills .skills-right{
  width: 33.333333333%;
  display: inline-block; 
  float: left;
}

.my-skills img{
  width: 300px;
}

/*--------------------------------Contact/Footer------------------------------------------*/

.contact-section{
  background-color: teal;
  padding-top: 50px;
  padding-bottom: 50 px;
  text-align: center;
}

.contact-section h2{
  text-transform: uppercase;
  position: relative;
}


  

.contact-section:after{
  content:'';
  display: block;
  clear: both;
}

.contact-section .contact-left, .contact-section .contact-center, .contact-section .contact-right{
  width: 33.333333333%;
  display: inline-block; 
  float: left;
}

.contact-section img{
  width: 300px;
}

/*----------------------------------------------Footer------------------------------------------------------*/

.footer-text img{
  width: 25px;
}