#address{
  font-weight:bold;
}
#fullAddress{
  font-weight:normal;
}
#PhoneNumber{
  font-weight:bold;
}
#phone{
  font-weight:normal;}
#profile:hover{
  color:red;
  text-decoration: none;
}
#intro{
    white-space: pre-line;
}
#skills{
  font-weight:bold;
}
#skillsList{
  font-weight:normal;
  list-style-type:none;
}
#work{
  font-weight:bold;
}
#primeNow{
  font-weight:bold;
  float:right;
}
#sfsu{
  font-weight:bold;
  float:right;
}
#photo{
display: block;  
margin-left: auto;  
margin-right: auto;  
border: 8px ridge gray;  
  padding: 5px; 
  position: relative;
}
#homeIntro{
  position: relative;
}
#downloadResume{
  color:white;
}
#devMission{
  float:right;
}
body{   margin: 0px;
}