body{
  background-color: #D36135;
  font-family: 'Fredoka', sans-serif;
}

h1{
  text-align: center;
  color: #14213D;
}
img.Drew{
  border: #14213D solid 10px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.laptop{
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.folder{
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h4{
  text-align: center;
  color: #14213D;
  padding-right: 10px;
}
h2{
  text-align: center;
  color: #FFFFFF;
}
ul{
  text-align: center;
  color: #FFFFFF;
}
strong{
  color: #D36135;
}
div.part2{
  background: #14213D;
  padding: 110px;
}
ul.skills{
  color: #FFFFFF;
  
}
h2.heading2{
  color: #FFFFFF;
}
li{
  font-size: 18px;
}
div.part3{
  background: #E5E5E5;
  padding: 80px;
}
h2.heading3{
  color: #D36135;
}
div.part1{
  background: #FFFFFF;
  padding: 20px;
}
a:link {
  color: #14213D;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: #14213D;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: #14213D;
  background-color: transparent;
  text-decoration: underline;
}
div.return{
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
a.nav-link{
  text-decoration: none;
}
a:hover.nav-link{
  color: white;
}
ul.projects{
  list-style-type: none;
}













#000000
#FC2F00
#FFFFFF
#FCA311
#E5E5E5

