html, body {
  min-height: 100%
}

#left-block {
  background: #DFE6E9;
}
h1 {
  margin-top: 8rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}
h5 {
  font-family: 'Roboto Mono', monospace;
}
#headshot {
  margin-top: 50px;
  margin-bottom: 75px;
}
.img-border {
  border-radius: 50%;
  border: solid 10px #7DA395;
}
#icons {
  display:flex;
  justify-content: center;
  padding-bottom: 7rem;
}
.icons {
  background: #7DA395;
  border-radius: 10px;
  width: 12rem;
  display: flex;
  justify-content: center;
  padding: 0 0;
}
.icons li {
  list-style-type: none;
  border-radius: 25%;
  color: white;
  width: 45px;
  height: 40px;
  margin: 4px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.icons li:hover {
  border-radius: 40%;
  background: white;
  color: #7DA395;
}
h2 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  padding-top: 8rem; 
  padding-bottom: 1rem;
}
#summary{
  padding-bottom: 80px;
  padding-top: 4rem;
}
.project {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 4rem;
}
.card-body {
  text-align: left;
}
.card-title {
  font-family: 'Roboto Mono', monospace;
}
.card-list { 
  font-family: 'Roboto Mono', monospace;
  padding-top: 1.5rem;
}