/* a minimalist set of CSS resets */


/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #FAEBD7;
}

.border_t {
  border-style: inset;
  border-width: 6px;
  border-color: green;
  padding: 4px;
  background-color: white;
  border-radius: 25px;
}

.headshot {
  height : 360px;
  border-radius: 25px;
  border: 2px solid #73AD21;
}
/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}
.spaces {
margin-left:2rem;
  margin-right: 2rem;
}