 body{
background-color: #e6daca;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  height: 80px;
  width: 100%;
  background-color: #acbda1;
  padding: 0px 100px;
  line-height: 80px;
}
nav h1 {
  float: left;
  font-size: 32px;
  text-transform: uppercase;
  font-family: sans-serif;
  color: #ffffff;
}
nav ul{
  float: right;
/* .content{
  margin: auto;
    width: 300px;
} */
}
nav ul li{
  display: inline-block; 
  list-style: none;
  padding:0px 10px;
}
nav ul li a{
  text-decoration: none; 
  font-size: 19px;
  font-family: sans-serif; 
  color: #ffffff;
}
nav ul li a:hover{
  color: #acbda1;
  transition: 0.5s;
}
:root {
  --link: rgb(113, 128, 113);
}

.parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  list-style-type: none;

  & header {
    width: inherit;
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1.5rem;

    & .menu {
      list-style-type: none;
      display: flex;
      gap: 1.25rem;

      &:hover a:not(:hover) { border: none; }

      & li:first-of-type a { border-bottom: 2px solid var(--link); }

      & a {
        text-decoration: none;
        font: 900 0.75rem futura,sans-serif;
        color: var(--link);
        text-transform: uppercase;
        padding-bottom: 0.5rem;

        &:hover { border-bottom: 2px solid var(--link); }
      }
    }

    & .hamburger {
      font-size: 2rem;
      color: var(--link);
      cursor: pointer;
      display: none;
    }

    @media (width < 700px) {
      & .menu       { display: none; }
      & .hamburger  { display: block; }
    }
  }

  & .layer {
    position: absolute;
    width: inherit;
    height: inherit;
    background-position: center 25%;
    background-size: cover;
    z-index: -1;
    transition: transform 0.1 ease-out;

    &:nth-of-type(1) { background-image: url("https://raw.githubusercontent.com/misalagp/imgs/53ece8c56d462838e143383adc1a3078c1960e4d/1.svg"); }
    &:nth-of-type(2) { background-image: url("https://raw.githubusercontent.com/misalagp/imgs/53ece8c56d462838e143383adc1a3078c1960e4d/2.svg"); }
    &:nth-of-type(3) { background-image: url("https://raw.githubusercontent.com/misalagp/imgs/53ece8c56d462838e143383adc1a3078c1960e4d/3.svg"); }
    &:nth-of-type(4) { background-image: url("https://raw.githubusercontent.com/misalagp/imgs/53ece8c56d462838e143383adc1a3078c1960e4d/4.svg"); }
    &:nth-of-type(5) { background-image: url("https://raw.githubusercontent.com/misalagp/imgs/53ece8c56d462838e143383adc1a3078c1960e4d/4.svg"); }
    &:nth-of-type(6) { background-image: url("https://gist.githubusercontent.com/mondenoir/5395b6e7d9445c3a0fc82e6ece97268c/raw/bca5c0c6397e38d79b5af9e88f78f0aa7b515b94/img-1.svg"); }
  }
}

@media (height < 700px) {
  .parallax {
    height: 160vh;
  }
}

.content
/*   margin: auto;
    width: 300px; */ {
  background-color: rgba(39,40,25);
  display: grid;
  place-items: center;
  gap: 3rem;

  & .info {
    width: min(80vw,550px);
    font: 0.85rem/1.8 futura,sans-serif;
    color: rgba(255,255,255,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;

    & h1 {
      font-size: 1.25rem;
      color: rgb(204, 117, 107);
    }

    & img { width: 30vmin; }
  }

  & footer {
    display: flex;
    gap: 1rem;
    padding-bottom: 3rem;

    & ion-icon {
      cursor: pointer;
      color: rgb(93, 106, 93);
      font-size: 1.1rem;

      &:hover { color: rgb(121, 149, 121); }
    }
  }
}




.test {
   display: flex;
    flex-direction: row;
   
}

.card {
  border: 1px solid #dadada;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  width: 50%;
}

.card h3 {
  padding: 2px;
  margin: 5px 0;
/*   line-height: 20px !important;
  font-size: 18px !important;
  font-weight: 500 !important; */
}

.card:hover {
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card .container {
  padding: 2px 14px;
}

.card p {
  margin: 14px 0;
}



/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 30.30%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}







@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}



button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
     margin-top: 10rem;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}