.navbar {
  overflow: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  padding-bottom: 100;
  margin-bottom: 100px;
  font-family: monospace;
}

/* .header {
  padding: 60px;
  text-align: center;
  color: black;
  font-size: 30px;
} */

.img {
  opacity: 0.5;
  filter: brightness(65%);
  margin-top: 80px;
  margin-bottom: 5%;
/*   height: 600px;
  width: 100%; */
  border-radius: 0;
  position: relative; 
  padding:0;
  max-width: 100%;
  height: auto; 
}


.centered-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-family: monospace;
  color: black;
}


body {
  background-color: #F0ECE3;
}
.card  {
  border-radius: 1.5rem;
  padding: .5em;
  height: 30em;
  margin-top: 2em;
  position: relative;
}

#detail-card {
  margin: 5em;
  border: none;
  margin-bottom: 20%;
  background-color: #F0ECE3;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  max-width: 100%;
  height: 65%;
}
.btn {
  background-color: #FBD1A2;
  color: black;
  border: none;
  border-radius: 1rem;
}

.button-section {
  margin-top: 2rem;
  text-align: center;
}

.page-footer {
  margin-top: 12px;
  margin-bottom: 50px;
}

.img-fluid{
  height: 30em;
  width: 100%;
  object-fit: cover;
}