/* CSS files add styling rules to your content */
/* general formatting */
.header{
    padding-bottom: 5%;
}

h3{
  color: black;
  font-size: 23px;
}

.textbox{
    background-size: cover;
    background-color: #8B9D000;
    width: 450px;
    height: 400px;
    padding-bottom: 2%;
    margin: 15px 40px 10px 40px;
}

.lefttextbox{
    background-size: cover;
    background-color: #8B9D000;
    width: 450px;
    height: 400px;
    padding-bottom: 2%;
    margin: 0px 0px 10px 65px;
}

.box{
    background-size: cover;
    background-color: #8B9D000;
    width: 500px;
    height: 360px;
    margin: 15px 1px 10px 30px;
}

.footer{
    background-color: #8B9D000;
    width: 400px;
    height: 200px;
    margin: 50px 0px 0px 370px;
}

.bottom{
    background-color: lightgray;
}

.container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-size: cover;
    background: white;
}

.col{
    color: #575656;
}

/* text styles */

h1{
    text-align: center;
    font-size: 50px !important;
    font-family: 'brandon-grot-w01-light',sans-serif;
    color: black;
    padding-top: 50px;
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
}

h1 span{
    background: white;
    padding:0 10px; 
}

p{
    font-family: 'Cuprum', sans-serif;
    padding-top: 110px;
    text-align: justify;
    text-justify: distribute;
    position: relative;
    top: 5px;
}

p.bottom{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

/* box background pics */

.one{
    background-image: url(https://cdn.glitch.com/3a9ed896-ed4b-410e-bae4-7a92b5c3f57f%2F121133938_2732103960334474_7084673281861549697_n.jpg?v=1602143118585);
}

.two{
    background-image: url(https://cdn.glitch.com/3a9ed896-ed4b-410e-bae4-7a92b5c3f57f%2Fcoding.jpg?v=1602717952614)
}

.three{
    background-image: url(https://cdn.glitch.com/3a9ed896-ed4b-410e-bae4-7a92b5c3f57f%2Fpancake.jpg?v=1602131136793);
}

/* hover box background gifs */

.three:hover{
    background-image: url(https://cdn.glitch.com/3a9ed896-ed4b-410e-bae4-7a92b5c3f57f%2Fcake.gif?v=1602131232449);
    background-position: center;
}

body {
    background-size: cover;
    background-image: url(https://cdn.glitch.com/3a9ed896-ed4b-410e-bae4-7a92b5c3f57f%2Fbg.png?v=1602719360993);
}

.navbar{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}

.navbar-brand{
  font-size: 25px;
  font-family: georgia,palatino,'book antiqua','palatino linotype',serif;
  letter-spacing: 3px;
  text-shadow: 2px 2px 4px grey;
}
