navbar {
  background-color:#ff0000;
  color:#ffffff;
}

banner {
  width: 100%;
  height: auto; /* This will maintain the aspect ratio */
  max-height: 150px; /* Adjust the maximum height as needed */
  overflow: hidden; /* Ensure the image doesn't overflow its container */
}

  #avatar {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px; /* Optional: Add some margin for better spacing */
    z-index: 999; /* Ensure the photo appears above other elements */
    border: 2px solid #ffffff; /* Optional: Add a white border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: Add a shadow */
    width: 21%;
  height: auto;
    overflow: hidden;
    
}
 body {
    background-color: black;
    color: white;
   text-align:center; 
    font-family:cursive;
  }

  .bg-red {
    background-color: red;
  }

  .navbar {
    background-color: red !important;
  }

  .card {
    background-color: black;
    color: white;
    border: 2px solid red;
  }

  .card-title {
    color: white;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: white;
  }

  .navbar-dark .navbar-nav .nav-link:hover {
    color: white;
  }

p {
  margin: 0;
  padding:0;
}
#project {
  justify-content: flex-start;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}



.contact-icons {
    display: flex;
    justify-content: center; /* Center the icons horizontally */
    align-items: center; /* Center the icons vertically */
    background-color: #ff0000; /* Make the background red */
    padding: 20px; /* Optional: Add padding */
    position: fixed; /* Position the icons at the bottom of the viewport */
    bottom: 0; /* Stick the icons to the bottom */
    left: 0; /* Align the icons to the left */
    width: 100%; /* Make the icons span the full width */
    box-sizing: border-box; /* Include padding and border in the width */
}

/* Adjust icon size and spacing */
.contact-icons i {
    font-size: 24px; /* Adjust icon size as needed */
    margin: 0 10px; /* Add spacing between icons */
  color: black;
}





  