/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #bdd1f0;
}

h1 {
  font-family: "Russo One", sans-serif;
  color: #373fff;
}

.logo {
  width: 18rem;
  height: 16rem;
}

footer {
  text-align: center;
}

.main {
  float: right;
}

.card {
  width: 18rem;
  height: 24rem;
  border-width: 2px;
  border-color: #373fff;
  margin-bottom: 2em;
}

.head {
  width: 16rem;
  height: 18rem;
  margin-left: 1rem;
  margin-top: 1rem;
  object-fit: cover;
}

a:link,
a:visited {
  color: #373fff;
  font-family: "Candal", sans-serif;
}

.btn {
  color: #373fff;
  border-color: #373fff;
}

.card-text {
  text-align: center;
  font-family: "Candal", sans-serif;
  font-size: 1.25em;
}

p {
  font-family: "Candal", sans-serif;
}

.card:hover {
  border: 4px solid #373fff;
  background-color: #bdd1f0;
  opacity: 100%;
}

.navbar {
  background-color: #e9ecef;
}

input {
  border: 1px solid black;
  border-radius: 0.25rem;
}

.add a button {
  margin-left: 44%;
}