/* Note to self for usage of Font-Families */
/* font-family: 'Cinzel', serif; (Formal Like Roman letters) */
/*  */
/* header */
h1 { 
  margin-top: 70px;
  font-family: 'Cinzel', serif;
  text-align: center;
}
h5 {
  font-family: 'Cinzel', serif;

}
/* 1st body paragraph */
p {
  text-align: center;
  margin-top: 200px;
  margin-top: 50px;
  font-family: 'Cinzel', serif;
  font-size: 25px;
}
/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

.test2 {
    height: 1000px;
  width: auto; 
   margin-left: auto;
  margin-right: auto;
  max-width:1900px;
    
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
 background-image: url(https://cdna.artstation.com/p/assets/images/images/025/965/386/original/lennart-butz-idea5anim4.gif?1587480606); 
padding-left: 100px; 
  padding-right: 100px; 

}

.bodyWrap {
margin-top: 40px;
border: solid black 5px;
background-color: white;
border-left: 2px;
border-right: 2px;
border-width: 120px;
  
}
/* images and videos max out at full width */
/* images are the photos of locations in the blocks */
img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  max-width: 100%;
  height: 20em;
}
video {
  height: auto;
  max-width: 100%;
}

/* Navbar */
.nav {
  margin-top: 1.5rem;
  background-color: #fcc9b9;
  border-radius: 2rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0);
  
}
.card
{
  border-radius: 1.5rem;
  padding: .5em;
  height: auto;
  margin:2em;
  width: auto;
  height: 500px;
  width: 400px;
  max-height:720px;
  max-width: 550px;
  border-radius: 1.5rem;
  justify-content: center;
  padding: .5rem;
  background-color: #ffd1da;
  transition: .5s ease;
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.8);
  height:30em;
  width: 22em;
  object-fit: cover;
  transition: all 0.3s;
}
.card a::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.card:hover {
  transform: scale(1.15);
}
.card-image
{
  transform: scale(1.02);
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.6);
  height: auto;
  max-height: 200px;
  width: auto;
  max-width: 520px;
}
.newCard {
  border-radius: 1.5rem;
  justify-content: center;
  padding: .5rem;
  background-color:#F6D2FA;
  transition: .5s ease;
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.8);
  margin-top: 5em;
}
.picCard {
 width: auto;
  height: 36
  368px;
  width: 400px;
  border-radius: 1.5rem;
  justify-content: center;
  padding: .5rem;
  background-color:#F6D2FA;
  transition: .5s ease;
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.8);
  transition: all 0.3s;
  margin-bottom: 5em;
  margin-top: 5em;
}
.picCard:hover {
  transform: scale(1.6);
}