* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #333333;
}
header {
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  background: darkred;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


main {
  position: relative;
}

section {
  background: #333333;
  position: relative;
  z-index: 2;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
