/* navbar */

/*https://www.enricodeiana.design/*/








.container{
  max-width: 1500px;
  padding: 0 20px;
  margin: 10px;
  
}

body {
  width: 100%; /* full window width */
  text-align: center;
  /*background-color: #2C3639;*/
  background-image: linear-gradient(0deg, white, #2C3639);
}

h2{
  font-size: 35px;
  font-family: "Corben", serif;
  font-weight: 700;
  font-style: normal;
  padding-bottom: 6px;
}
p{
  font-size: 20px;
  font-weight: 600;
}

h6{
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

ul {
  list-style-type: none;
}

strong {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 19px;
}

.nav a{
  display: inline-bllock;
  margin: 10px;
} 

.navbar{
  /*background-color: #808080;*/
  background: none;
  width: 100%;
  height: 90px;
  margin: auto;
  background-color: transparent;
  justify-content: space-around;
}

.navbar-brand{
  color: rgb(244, 234, 224)/*rgb(109, 41, 50)*/;
  font-family: "Montserrat", sans-serif;
  font-size: 250%;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  text-shadow: 1px 0px 0px;
}

.navbar-brand:hover {
  color: rgb(244, 234, 224)/*rgb(109, 41, 50)*/;
}

.nav-item .nav-link{
  color: rgb(244, 234, 224)/*rgb(109, 41, 50)*/;
  font-family: "Montserrat", sans-serif;
  font-size: 110%;
  font-weight: 500;
  font-style: normal;
}

.navbar-collapse{
  justify-content: flex-end;
}
.nav-item .nav-link::after{
  color: rgb(244, 223, 200)/*rgb(109, 41, 50)*/;
}
.navbar-nav .nav-item .nav-link {
  position: relative;
}
 .navbar-nav .nav-item .nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: transparent;
  bottom: 5px;
  left: 0;
  transition: all 0.3s ease;
}
.navbar-nav .nav-item .nav-link:hover::after,
.navbar-nav .nav-item .nav-link.active::after {
  background-color: rgb(244, 223, 200)/*rgb(109, 41, 50)*/; /* Change to your preferred color */
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #149ddd;
  color: #ffffff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}




/* hero section */

/* #hero {
  width: 100%;
  height: 100vh;
  background: url("https://cdn.glitch.global/a244a09c-f2f4-4e5e-bce7-b8348f9f3539/Facetune_06-02-2023-22-40-28.JPG?v=1709374646845") top center;
  background-size: cover;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
} */

.hero-section {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width:100%;
  color: #000000/*white*/;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
  min-width: 300px;
}

/* #hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
} */

.hero-section h1 {
  margin-bottom: 10px;
  font-family: "Antic Didone", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 250px;
  color: rgb(244, 234, 224)/*white rgb(109, 41, 50)*/;
  text-shadow: 5px 0px 2px rgb(60, 54, 51)/*rgb(109, 41, 50)*/;
}
.hero-section p {
  color: rgb(244, 234, 224);
  margin-bottom: 50px;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-shadow: 5px 0px 2px rgb(60, 54, 51);
}

@media (min-width: 1024px) {
  .hero-section {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  .hero-section h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}







/* intro section */

#intro{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color: rgb(244, 234, 224);
  
}

#intro a{
  color: rgb(244, 234, 224);
}
.section {
  padding-top: 50px;
  overflow: hidden;
  /*background-color: #2C3639; white; /*change at the end!!!!*/
  margin: 50px 50px;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.section-title {
  padding: 30px;
}

.img-fluid{
  display: flex;
  max-width: 80%;
  height: auto;
  align-items: center;
  justify-content: flex-end;
}










/* personal section */


#personal{
  /*background-color: #2C3639 rgba(205, 194, 174, 0.7)*/
  color: rgb(244, 234, 224);
}
.personal-section {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.personal-section p {
  font-size: 20px;
  padding: 0 50px;
  
}

.image-grid{
  --gap: 16px;
  --num-cols: 6;
  --row-height: 200px;
  
  box-sizing: border-box;
  padding: var(--gap);
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: 16px;
}

.image-grid img{
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

.image-grid-col-2{
  grid-column:span 2;
  
}
.image-grid-row-1{
  grid-row: span 1;
  
}

.image-grid-row-2{
  grid-row: span 2;
  
}

.image-grid-col-1{
  grid-column:span 1;
  
}

.image-grid-col-3{
  grid-column:span 3;
}

#personal li {
 display: inline-blocks;
 margin: 0 10px;
}




/* professional section */


#professional{
  font-family: "Corben", serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(244, 234, 224);
}

.skills{
  margin-bottom: 40px;
}

.skills p{
  margin-top: 2rem;
  text-align: left;
  padding-left: 15px;
  
  
}

.soft-skills{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 70px;
  color: rgb(244, 234, 224);
}

.tech-skills{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 70px;
  color: rgb(244, 234, 224);
}

.skills-items{
  border: 3px solid rgb(244, 234, 224)/*rgb(109, 41, 50)*/;
  border-radius: 25px;
  padding: 10px;
  font-weight: 730;
  font-size: 1rem;
  color: rgb(244, 234, 224)/*rgb(109, 41, 50)*/;
}



/* portfolio */
#professional-portfolio{
  font-family: "Corben", serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(244, 234, 224);
}

.portfolio{
  color: rgb(244, 234, 224);
  font-family: "Corben", serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(244, 234, 224);
}
.portfolio h6 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}

.portfolio-section{
  background-color: #000000/*#CDC2AE*/;
  font-family: "Corben", serif;
  font-weight: 700;
  font-style: normal;
  padding-top: 10px;
  height: 130vh;
}

.portfolio-grid {
  display: flex;
  justify-content: space-between;
}

.portfolio-card {
  flex: 0 0 calc(33.333% - 20px); /* Adjusted width for skinnier cards */
  padding: 50px 10px; /* Increased padding for taller cards */
  border: 2px solid rgb(244, 234, 224); /* White border */
  border-radius: 10px; /* Rounded corners */
  background-color: transparent; /* Card background color */
  margin-right: 30px; /* Add margin between cards */
}

.portfolio-card h3 {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 35px;
  font-weight: 600;
}

.portfolio-card p {
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: 300;
}

.portfolio-card a {
  border: 2px solid rgb(244, 234, 224); /* White border */
  border-radius: 10px; /* Rounded corners */
  background-color: #f9f9f9; /* Card background color */
  display: block;
  text-align: center;
  text-decoration: none;
  color: #333333; /* Link color */
  border: 2px solid rgb(244, 234, 224); /* Border color for the button */
  padding: 8px 15px; /* Adjusted padding for the button */
  border-radius: 5px;
  margin: 0 50px;
}

.portfolio-card a:hover {
  background-color: #333333; /* Background color on hover */
  color: rgb(244, 234, 224); /* Text color on hover */
}






/* contact section */
#contact{
  /* background-color: #2C3639rgba(205, 194, 174, 0.7)*/
  color: rgb(244, 234, 224)/* rgb(244, 234, 224)*/;
  margin: 0 90px;
  
}

.contact-section{
  background-color: #333333 /*#000000 #CDC2AE*/;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  border: 3px solid #2C3639/*rgb(109, 41, 50)*/;
  padding: 100px;
  /*border-radius: 25px;*/
  
}

.contact-form {
  max-width: 600px;
  margin: auto;
  color: #2C3639/*rgb(244, 234, 224)*/;
}


/* Fonts 
@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Lusitana:400,700); */




/*icons*/
.icon {
  font-size: 2rem;
  cursor: pointer;
  margin: 0 10px;
  color: rgb(244, 234, 224);
}

.btn{
  background-color: rgb(244, 223, 200)/*black*/;
  border:rgb(244, 223, 200) /*black*/;
  color: #2C3639;
}
  
.btn:hover {
  background-color: #333333;/*rgb(109, 41, 50)*/
  border:rgb(244, 234, 224) /*black*/;
}

