/* General CSS */

* {
  box-sizing: border-box; /* I don't think this is doing anything lol..? */
}

body, /* I couldn't just make the body this color for some reason? I had to make each section this color instead */
header,
.navbar,
#skills,
#projects,
#quote,
#finale {
  background-color: #4E6C50;
}

/* Navbar CSS */

.navbar-brand,
.nav-link,
#finale {
  color: #C97D60;
  transition: all 0.3s ease;
  font-size: larger;
  font-family: "Fugaz One";
}

.nav-link {
  position: relative;
}

.navbar-brand:hover,
.navbar-brand:active,
.nav-link:hover,
.nav-link:active,
.btn-secondary:hover,
.btn-secondary:active {
  color: #B6BE9C !important;
}

.nav-link::after {
  content: '';
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background-color: #C97D60;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after {
  opacity: 1;
}

.btn-secondary {
  color: #C97D60 !important;
  font-family: "Paytone One";
  font-size: 17px !important;
} /* The two !important usages are to make sure the default Bootstrap styling is overwritten */

/* CSS for line dividing up sections of site */

hr {
color: #C97D60; 
}

/* Specifically started off as just Hero CSS, but now applies to site as a whole */

#intro {
  margin-top: 50px;
}

h2 {
  color: #C97D60;
  font-family: "Fugaz One";
}

p {
  color: #B6BE9C;
  font-size: larger;
  font-family: "Paytone One";
}

img {
  width: 400px;
  height: auto;
}

.img-fluid {
  display: flex;
  max-width: 80%;
  height: auto;
  align-items: center;
  justify-content: flex-end;
}

/* Skills CSS */

li {
  font-size: larger;
  font-family: "Paytone One";
  color: #B6BE9C;
}

/* Projects CSS */

.card-title {
  color: #C97D60;
  font-family: "Fugaz One"; 
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
} /* To make it so all the cards are the same size */

.h-101 {
  transition: all 0.3s;
}

.h-101:hover {
  transform: scale(1.15);
}

/* Bottom half-specific CSS */

.mb-0,
cite,
.p-3 {
  font-size: larger;
  font-family: "Fugaz One";
}

.shadow-1-strong {
  width: 250px;
  height: 250px;
}