body {
  background-color:#F5BCF0 ;
}

.background-color {
  background: #F5BCF0 none repeat-y scroll 0px 50px;
}
.text-decoration-h1 {
  border-bottom: 8px ridge #e59533;
  text-decoration-color: black;
  text-align: left;
  margin-top: 120px;
  margin-left: -90px;
  text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4,
    2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd,
    3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4,
    5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd,
    6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4,
    8px 7px 0px #5dabcd, -14px 1px 15px #000000;
  background: #F5BCF0 none repeat-y scroll 0px 50px;
  font-family: 'IM Fell English', serif;
}

.container-h1 {
  width: 900px;
  background: #F5BCF0 none repeat-y scroll 0px 50px;
  
}
p {
  border: 8px ridge #e59533;
  border-radius: ;
  background: #F5BCF0 none repeat-y scroll 0px 50px;
  font-family: 'Dancing Script', cursive;
font-family: 'IM Fell English', serif;
}

.smaller-image {
  width: 350px;
  height: 450px;
  margin-top: -280px;
  margin-left: 10px;
  padding: 20px;
  
}
.text-container {
  width: 650px;
  height: 150px;
  padding: 25px;
  margin-left: -90px;
  background: #F5BCF0 none repeat-y scroll 0px 50px;
}

.col-4-css {
  margin-top: 40px;
  background: #F5BCF0 none repeat-y scroll 0px 50px;
}

.linked-in-icon {
  width:25px; 
  margin-left: 620px;
  margin-top: 30px;
  background: #F5BCF0 none repeat-y scroll 0px 50px;
  
}

.work-experience-box-title {
background-color: #F5BCF0;
  margin-left: 50px;
  font-family: 'IM Fell English', serif;

}
.work-experience-box {
 width: 600px;
  border: 8px ridge #e59533; 
  margin-top: -10px;
  margin-left: 50px;
  font-family: 'Dancing Script', cursive;
font-family: 'IM Fell English', serif;
}
   
  


.projects-box-title { 
 margin-left: 5px; 
  margin-top: -40px;
  font-family: 'IM Fell English', serif;
  line-height: 2rem;
  font-size: 2.0rem;

}
.project-box{
  border: 8px ridge #e59533; 
  margin-right: -10rem;
  margin-top: -10px;
  font-family: 'Dancing Script', cursive;
font-family: 'IM Fell English', serif;
  
}
.arrow-icon {
  margin-right: 100px;
}
