/* form {
  position: relative;
  left: 200px;
  top: 15px;
} */

/* button {
  position: relative;
  left: 225px;
  top: -40px;
} */

/* nav {
  margin: auto;
  width: 50%;
  padding: 10px;
} */



/* .card{
  margin: 25px;
  top: 65px;
}
 */
/* 
img {
  margin-top: -50px;
  width: 50%;
}

 */


/* 
.img {
  position: absolute;
  margin-left: -8em;
  top: -265px;
  z-index: 999999;
} 


.footer{
 top: 1000px;
}


*/


/* ###################  project style ######################### */

/* #projectOne{
  margin: 25px;
  top: 65px;
}

#projectTwo{
  margin: 25px;
  top: 65px; 
}

#projectThree{
  margin: 25px;
  top: 65px;   
  
}


#bodyCard {  
top: 100px;
margin-left: 160px;
width:60rem;
height: 36rem;
}

#headshotphoto {
border:1rem solid #000000;
width: 35%;

}


.projectCardBody{
  
    text-align: center;
}

.aboutMeContent{
  
    padding-top: 5vw;
  padding-bottom: 3vw;
  
  
}  */




#topRow{
padding-left: 40%;
  
}

#projectCard{
margin: 25px;
/* width: 10vw;
height: 10vw; */
  
width: 13rem;
height: 13rem;

}

/* .card-title{
  font-size: 70%;
} */


#bodyCard {  
top: 2vw;
margin-left: 15%;  
width:73%;
height: 36rem;
}

#headshotPhoto {
  border:1rem solid #000000;
  position: absolute;
  margin-left: -6vw;
  top: -14vw;
  z-index: 999999;
  width: 38%;
}


.content{
  
  padding-top: 2%;
  padding-bottom: 5%;
  
  
}

#annoying{
  height: 10%;
  
  
}

@media screen and (max-width: 1200px) {
  .column {
    width: 85%;
  }
  .info {
    margin: 0;
    padding: 0;
    width: 200%;
  }
}

.card-title{
    font-size: 1vw;
  
}

#projectCard {
  font-size:1vw;
  width: 10vw;
height: 10vw;
}