
/* CSS files add styling rules to your content */

.bg-light {
  background-color: #CD113B !important;
}

.picture {
  height: 900px;
  width: 1310px;
}

.col-sm {
  border: 5px solid;
  padding-left: 0px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

element.style {
  padding-right: 200px;
}

.linkin {
  height: 1.5rem;
  width: 1.5rem;
}

.h1,
h1 {
  text-align: center;
  font-family: preconnect;
}
.navbar {
  padding-right: 5px;
}

.p {
  font-family: preconnect;
}
.navbar-brand {
  padding-left: 50px;
}
