img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;

}
.btn-outline-primary{
  color:#FDB515!important;
  border-color:#45637a;
   border-style: solid;
  border-width: 0.25em;

}
.button{
   background-color:#003262;
  color:#FDB515!important;
  text-decoration:none;
}
body {
  font-family: "Quicksand", sans-serif, "Yellowtail", cursive;
  background-color:#003262;
 
}
a[href="mailto:stellahuang365@gmail.com"] {
  text-decoration: none;
  color:#FDB515;
}

p {

  text-indent: 5%;
  color:#FDB515;
  font-size:1.5em;
}
a[#1] {
  text-decoration: none;
  color: #FDB515;
}
/*a[href="https://poem-page.glitch.me/"]
{
  text-decoration: none;
  color: #FDB515;
}*/
.link{
  margin-left: 0%;
  margin-right:15%;
  width: 30%;
}

.container{
  color:#FDB515;
  
}
 .dropdown-toggle{
  background-color:#003262;
  color:#FDB515!important;
}
.blank{
   text-decoration: none !important;
  color: #FDB515;
  font-size:1.5em;
}
/*.skills{
  background-color:#45637a;
  width:2.5em;
}
.projects{
  background-color:#45637a;
  width:3.9em;
  margin-left:3em;
}
.contacts{
  background-color:#45637a;
  width:4.5em;
  margin-left:3em;
}*/
.row0 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2em;
  font-size:3em;
}
.row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4em;
}
.row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4em;
}
.row3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4em;
}

