body {
  font-family: "Poppins", sans-serif;
  background-color: #FFE6E6;
}

/*NAVBAR SECTION*/
.bg-custom {
  background-color:#240A34;
}

.nav-link {
  font-size: 20px;
}

.navbar-brand {
  font-size: 23px;
}

/*ABOUT ME SECTION*/
.container {
  margin-left: 
}

#about h2 {
  text-align: right;
}

.portphoto {
  display: block;
  margin-right: auto;
  margin-left: 30;
  max-width: 90%;
  gap: 5rem;
  height: 65vh;
  border-radius: 50%;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.icon {
  cursor: pointer;
  height: 2rem;
}

/*SKILLS SECTION */
.skills-container {
 background-color: #ffffff; /* Adjust as needed */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adjust shadow as needed */
}

section {
  padding: 100px 0;
  background-color: #FFE6E6;
}

.card {
  transition: transform 0.3s ease;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: purple;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(81, 54, 31);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

