body {
  background-image: url("https://cdn.glitch.com/10874a3b-0ee2-44b4-82b9-7a400d540ff1%2Feb71b974-acce-4b4f-8f88-4d5c822aedf2.logo-template-da65f93c-6b62-3059-aeb7-195ae2a88f40%20(1).png?v=1625099696594");
  background-repeat: no-repeat;
  color: #3de882;
  background-attachment: fixed;
  background-size: cover;
  background-color: green;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  transform: scale(1);
}
.p1 {
  color: #fcfcfc;
}

.animate__animated.animate__flip {
  color: #3de882;
  animate-duration: 2s;
}

.Zoro {
  border: 8px solid;
  color: black;
  position: absolute;
  display: block;
  margin-left: 950px;
  top: 20px;
}

.bat {
  border: 8px solid;
  padding: 0px;
  color: black;
}
.juan {
  border: 8px solid;
  position: absolute;
  padding: 0px;
  color: black;
  margin-left: 1259px;
  top: 430px;
}
