<style>

.wrapper {
  margin: 0 auto;
  width: 1000px;
  
}

video {
  width: 100%;
  
  
}






img {
justify-content: center;
  max-width: 100%;
  width: 330px;
  height: 400px;
  
  
}
/* Self Introduction*/

.heading1{
background-color: ;
  border: 100px;
  height: 50px;
  font-size: 40px ;
  padding: 10px;
  align-items: center;
  
}

.paragraph {
background-color:;
  width: 300px;
  height:  100px;
  font-size: 25px;
  align-items: center;
  
}
head{
  
  
}

/* VERY IMPORTANT, PAGE SNAPPING*/

body {
  width: 120vw;
  height: 100vh;
 background-color: #FEE715FF;
    font-family: serif, sans-serif, monospace; 
}
  
    section{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90vw;
      height: 30vh;
      margin-top: 50px;
      margin-right: -5vw;
      margin-left: -5vw;
      
      background-color:  #101820FF;
      border: 100px;
        font-family: serif, sans-serif, monospace; 
  }
h2 {
  color:#FEE715FF;
    font-family: serif, sans-serif, monospace; 
}

.skills {
  background-color:
  
}

.projects{
  padding-top: 40px;
  height: 200px;
  

}
h3 {
  color:  #101820FF;
    font-family: serif, sans-serif, monospace; 
}
.Biography {
  font-size: 20px; 
  width: 500px;
  height: 100px;
  font-family: serif, sans-serif, monospace; 
 justify-content: center;
  margin-bottom: 300px;
  
}

h1 {
  margin: 40px;
  margin-bottom: ;
    font-family: serif, sans-serif, monospace; 
}
 
h4 {
 font-size: 40px;
  align-items: center;
    font-family: serif, sans-serif, monospace; 
  
}

.uh {
  font-size: 10px;
  
}


.topsection {
  
}
</style>